body {
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

:root {
  --volv-orange: #f47e47;
  --volv-orange-hover: #e46f39;
  --volv-acrylic: rgba(255, 255, 255, 0.7);
}

.section1 {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
        /* rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) */
    ),
    url("assets/volv-slime-4k-cropped.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: var(--volv-acrylic);
  height: 60px;
  position: fixed;
  width: 100%;
}

.header > div {
  max-width: 1280px;
  padding: 0px 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
}

.volv-logo {
  height: 30px;
}

.download {
  text-align: right;
  align-self: center;
}

.volv-button {
  background-color: var(--volv-orange);
  border: none;
  outline: none;
  padding: 10px 16px;
  border-radius: 5px;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 5px 10px 0 rgba(244, 126, 71, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 300ms;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
}

.volv-button:hover {
  background-color: var(--volv-orange-hover);
}

.sec1content {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  height: 100vh;
}

.volv-window-desktop {
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.volv-window-mobile {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.dive-in {
  margin-top: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#dive-in {
  margin-left: auto;
  margin-right: auto;
}

.section2 {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    url("assets/newspaper\ texture.jpg");
  background-size: contain;
  background: url("assets/newspaper-background.png");
  background-position: center;
}

.wide-rectangle {
  height: 300px;
  width: 100%;
  background-color: whitesmoke;
  position: absolute;
}
.sec2container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "phone sec2content";
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  align-content: center;
  height: 100vh;
  padding: 0px 40px;
}

.phones {
  grid-area: phone;
  align-self: center;
}

.phones > img {
  height: 750px;
  margin-top: 70px;
}

.sec2content {
  grid-area: sec2content;
  align-self: center;
}

.sec2content > p {
  font-family: "DM Serif Display", serif;
  font-size: 42px;
}

@media only screen and (max-height: 820px) {
  .dive-in {
    margin-top: 0px;
  }
}

@media only screen and (max-height: 750px) {
  .volv-window-desktop {
    height: 400px;
  }
  /* .sec1content {
    height: auto;
  } */

  .sec2container {
    height: auto;
  }
}

@media only screen and (max-width: 1100px) {
  .sec2content > p {
    font-size: 32px;
  }

  .phones > img {
    height: 640px;
  }
}

@media only screen and (max-width: 890px) {
  .sec2content > p {
    font-size: 26px;
  }

  .phones > img {
    height: 580px;
  }
}

@media only screen and (max-width: 840px) {
  .volv-window-desktop {
    height: 400px;
  }

  .dive-in {
    margin-top: 100px;
    height: 50px;
  }
}

@media only screen and (max-width: 700px) {
  .phones > img {
    height: 480px;
  }
}

@media only screen and (max-width: 600px) {
  .sec2container {
    grid-template-columns: 1fr;
    grid-template-areas: "sec2content" "phone";
  }
  .phones {
    text-align: center;
  }
  .sec2content > p {
    text-align: center;
  }
  .volv-window-desktop {
    height: 300px;
  }
  .phones > img {
    margin-top: 20px;
  }

  .dive-in {
    margin-top: 100px;
    height: 50px;
  }
}

@media only screen and (max-width: 460px) {
  .volv-window-desktop {
    display: none;
  }

  .volv-window-mobile {
    display: grid;
    width: 100%;
  }
}
