body {
  margin: 0px;
  background: #fefefe;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Helvetica";
  src: url("assets/HelveticaNeueLTProTh.otf");
  font-weight: bold;
  font-style: normal;
}

:root {
  --volv-orange: #f47e47;
  --volv-orange-hover: #e46f39;
  --volv-acrylic: rgba(255, 255, 255, 0.8);
}

.section1 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
        /* rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9) */
    ),
    url("assets/no-bs-flipped-landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section1about {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
        /* rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9) */
    ),
    url("assets/about-us-slime.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  /* -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); */
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0)
  );
  height: 100px;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.header > div {
  max-width: 1280px;
  padding: 0px 15px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
}

.volv-logo {
  height: 25px;
  opacity: 0.7;
}

.download {
  text-align: right;
  align-self: center;
}

.download > a > span {
  font-family: "Roboto", sans-serif;
  /* font-family: "Frank Ruhl Libre", serif; */
  opacity: 0.7;
  color: #fff;
  letter-spacing: 0.2em;
  margin-right: 15px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}

.download > a:hover {
  text-decoration-color: #fff;
}

.download > a > img {
  height: 17px;
  vertical-align: text-top;
  padding-left: 7px;
  padding-right: 17px;
}

.volv-button {
  background: linear-gradient(-45deg, #e15b2b 20%, #e77422);
  border: none;
  outline: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 5px 10px 0 rgba(255, 89, 12, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 300ms;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  width: fit-content;
  animation: volv-window-desktop-animation 1s
    cubic-bezier(0.075, 0.82, 0.165, 1) 0.15s forwards;
  opacity: 0;
  transform: translateY(400px);
}

.volv-button:hover {
  /* background: linear-gradient(-45deg, #e15b2b 100%, #e77422); */
  box-shadow: 0 12px 25px 0 rgba(255, 89, 12, 0.3);
}

.sec1content {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  height: 100vh;
  padding: 0px 0px 0px 70px;
}

.sec1content > p {
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 400;
  font-size: 56px;
  color: white;
  animation: volv-window-desktop-animation 1s
    cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  opacity: 0;
  transform: translateY(400px);
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.features {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 60px;
  padding: 60px;
}

.features p {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 27px;
  /* background-color: #ffede3; */
  line-height: 10px;
  width: fit-content;
  font-weight: 600;

  border-bottom: 8px solid #ffede3;
}

.features span {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #505050;
  line-height: 147.6%;
}

.volv-window-desktop {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  /* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
  animation: volv-window-desktop-animation 2s cubic-bezier(0.5, 0, 0, 0.99)
    forwards;
  opacity: 0;
  transform: translateY(100px);
  margin-top: 120px;
}

.volv-window-mobile {
  display: none;
  margin-left: auto;
  margin-right: auto;
  animation: volv-window-desktop-animation 2s cubic-bezier(0.5, 0, 0, 0.99)
    forwards;
  opacity: 0;
  transform: translateY(100px);
  margin-top: 100px;
}

.dive-in {
  margin-top: 70px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  animation: dive-in-animation 2s cubic-bezier(0.5, 0, 0, 0.99) 2s infinite
    forwards;
  transform: translateY(-5px);
  opacity: 0;
}

#dive-in {
  margin-left: auto;
  margin-right: auto;
}

.section2 {
  /* background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    url("assets/newspaper\ texture.jpg"); */
  background-size: contain;
  /* background: url("assets/newspaper-bg.svg"); */
  background-position: center;
  background-color: #f9f9f9;
}

.wide-rectangle {
  height: 300px;
  width: 100%;
  background-color: whitesmoke;
  position: absolute;
}

.sec2container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "phone sec2content";
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  align-content: center;
  /* height: 105vh; */

  padding: 0px 40px;
}

.phones {
  grid-area: phone;
  align-self: center;
}

.phones > img {
  width: 90%;
  margin-top: 100px;
}

.sec2content {
  grid-area: sec2content;
  align-self: center;
}

.sec2content > p {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 46px;
  line-height: 1.5em;
}

.middle {
  background: #f2f6fc;

  filter: drop-shadow(0px 15px 30px rgba(242, 246, 252, 0.5));
}

.middle > div {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  align-items: flex-end;
  padding: 100px;
  text-align: center;
  display: grid;
  font-family: "Helvetica";
  font-family: -apple-system, "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.section3 {
  background-size: contain;
  background-position: center;
}

.sec3container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "sec3content" "sec3download";
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  padding: 120px 20px 200px 40px;
  align-items: center;
  text-align: center;
}

/* .sec3content {
  margin-left: 50px;
} */

.sec3content > img {
  margin-top: 0px;
}

.sec3download {
  margin-top: 10px;
  font-family: -apple-system, "Helvetica Neue", sans-serif;
}

.read-the-news {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 46px;
  line-height: 1.5em;
}

.don-believe-it {
  font-size: 1.5em;
}

.first-5000 {
  font-family: "Helvetica";
  font-size: 1.7em;
  color: #808080;
  line-height: 1.4em;
}

.categories {
  /* animation: categories-animation 8s cubic-bezier(0.5, 0, 0, 0.99) 0s infinite */
  /* forwards; */

  /* animation: categories-animation 8s cubic-bezier(0.5, 0, 0, 0.99) 0s infinite
    forwards; */

  /* -webkit-animation-name: categories-animation;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: forward;

  animation-name: categories-animation;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: forward; */
  height: 60px;
  margin-top: -5px;
  margin-left: -5px;
  /* opacity: 0; */

  position: relative;
}

.categories > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.categories > div > img {
  display: grid;
  height: 3.5rem;
}

.downloadnow {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
}

.downloadnow > div {
  align-self: center;
}

.android > a > img {
  height: 60;
}

@keyframes dive-in-animation {
  form {
    opacity: 0;
    transform: translateY(-5px);
  }

  50% {
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    opacity: 0;
    transform: translateY(-5px);
  }
}

@keyframes volv-window-desktop-animation {
  form {
    opacity: 0;
    transform: translateY(100px);
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.footer {
  display: grid;
  align-content: center;
  grid-gap: 1em;
  grid-area: footer;
  height: 80px;
  background-color: #f2f2f2;
  color: rgb(89, 89, 89);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  font-weight: 400;
  width: 100%;
}

.footer > div {
  margin-left: auto;
  margin-right: auto;
  /* width: 250px; */
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-height: 500px) {
  .header {
    position: absolute;
  }

  .volv-window-mobile {
    margin-top: 35px;
  }

  .volv-window-desktop {
    margin-top: 35px;
  }

  .sec1content {
    height: 500px;
  }
}

@media only screen and (max-height: 550px) {
  .header {
    position: absolute;
  }

  .volv-window-mobile {
    margin-top: 35px;
  }

  .volv-window-desktop {
    margin-top: 35px;
  }
}

@media only screen and (max-height: 820px) {
  .dive-in {
    margin-top: 0px;
  }
}

@media only screen and (max-height: 750px) {
  .volv-window-desktop {
    height: 400px;
  }

  .sec2container {
    height: auto;
  }
}

@media only screen and (max-width: 1100px) {
  .sec1content > p {
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 400;
    font-size: 48px;
  }
  .section1 {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0)
          /* rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.9) */
      ),
      url("assets/no-bs-flipped-landscape.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .features p {
    font-size: 24px;
    /* background-color: #ffede3; */
    line-height: 10px;

    border-bottom: 8px solid #ffede3;
  }

  .features span {
    font-size: 14px;
  }

  .sec2content > p {
    font-size: 36px;
  }

  .sec3content {
    margin-left: 20px;
  }

  .phones > img {
    width: 100%;
  }

  /* .categories > div > img {
    height: 3rem;
  } */

  /* .categories {
    height: 40px;
  } */
}

@media only screen and (max-width: 840px) {
  .sec1content > p {
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 400;
    font-size: 42px;
  }

  .features p {
    font-size: 20px;
    /* background-color: #ffede3; */
    line-height: 10px;

    border-bottom: 6px solid #ffede3;
  }

  .features span {
    font-size: 13px;
  }

  .read-the-news {
    font-size: 36px;
  }

  .first-5000 {
    font-size: 20px;
  }

  .sec2content > p {
    font-size: 4vw;
    margin-bottom: 0px;
  }

  .volv-window-desktop {
    width: 100%;
  }

  .middle > div {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    align-items: flex-end;
    padding: 50px;
    text-align: center;
    display: grid;
    font-family: "Helvetica";
    font-size: 40px;
  }

  .sec2container {
    grid-template-columns: 1fr 1fr;
    padding: 0px;
  }

  .phones > img {
    height: unset;
    width: 100%;
  }

  .sec3container {
    grid-template-columns: 1fr;
    grid-template-areas: "sec3content" "sec3download";
    padding: 30px 0px 60px 0px;
  }

  .sec3download {
    text-align: center;
  }

  .sec3content {
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    /* padding: 50px 0px; */
    margin-left: 0px;
  }

  .sec3download {
    background-color: #fff;
    width: 100%;
    /* padding: 50px 0px; */
  }

  .sec3content > span {
    text-align: center;
  }
}

@media only screen and (max-width: 700px) {
  .features {
    grid-template-columns: 1fr;
    max-width: 300px;
    text-align: center;
  }

  .features p {
    margin-left: auto;
    margin-right: auto;
    font-family: "Frank Ruhl Libre", serif;
    font-size: 27px;
    /* background-color: #ffede3; */
    line-height: 10px;
    width: fit-content;
    font-weight: 600;

    border-bottom: 8px solid #ffede3;
  }

  .features span {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 147.6%;
  }

  .middle > div {
    display: grid;
    grid-template-columns: auto;

    width: 100%;

    padding: 50px 0px 100px 0px;
    text-align: -webkit-center;
    /* font-size: 34px; */
    justify-content: center;
  }

  .categories {
    height: 7px;
    width: 100%;
  }

  .sec3container {
    padding: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .sec1content > p {
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 400;
    font-size: 32px;
  }

  .sec1content {
    text-align: -webkit-center;
    padding: 120px 0px 0px 0px;
  }

  .section1 {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0)
          /* rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.9) */
      ),
      url("assets/no-bs-flipped-landscape-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .sec2container {
    grid-template-columns: 1fr;
    grid-template-areas: "phone" "sec2content";
  }

  .categories > div > img {
    height: 3rem;
  }

  .categories {
    height: 10px;
  }

  .phones {
    text-align: center;
  }

  .dive-in {
    height: 40px;
  }

  .sec2content {
    /* background-color: #ffffff; */
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
  }

  .sec2container {
    padding: 0px;
    height: fit-content;
  }

  .sec3container {
    padding: 0px 60px 60px 60px;
  }

  .sec2content > p {
    text-align: center;
    margin-top: 50px;
    font-size: 46px;
  }

  .volv-window-desktop {
    height: unset;
    width: 100%;
  }

  .phones > img {
    margin-top: 0px;
  }

  .downloadnow {
    justify-content: center;
  }
}

@media only screen and (max-width: 460px) {
  .sec2content > p {
    font-size: 30px;
  }

  .sec3content > span {
    font-size: 30px;
  }

  .volv-window-desktop {
    display: none;
  }

  .volv-window-mobile {
    display: grid;
    width: 100%;
  }

  .first-5000 {
    font-size: 1.2em;
  }

  .read-the-news {
    font-family: "Frank Ruhl Libre", serif;
    line-height: 1.2em;
  }

  .sec3container {
    padding: 0px 30px 60px 30px;
  }
}

@media only screen and (max-width: 360px) {
  .sec2content > p {
    font-size: 27px;
  }

  .sec3content > span {
    font-size: 27px;
  }

  .dive-in {
    height: 35px;
  }

  .first-5000 {
    font-size: 1em;
  }
}
