<head>
    <link rel="stylesheet" type="text/css" href="../styles/volv-style.css" />
</head>

<body>
    <div class="the-issues-options">
        <a href="../pages/2020-election-guide-climate-change.html" class="the-issues-option-card">
            <div class="the-issues-option-card-content">
                <div class="the-issues-options-card-image">
                    <img src="../assets/issues-climate-change.png">
                </div>
                <div style="display: grid; align-content: flex-start;">
                    <p class="the-issues-option-card-title">
                        Climate Change
                    </p>
                    <p class="the-issues-option-card-desc">
                        The effects of climate change – like more frequent wildfires and flooding – are hitting home for
                        voters in a way they haven’t in the past.
                    </p>
                    <div class="the-issues-option-card-cta">
                        <span class="body-sans-serif-3">Read more&nbsp;&nbsp;</span>
                        <img src="../assets/arrow.svg" />
                    </div>
                </div>

            </div>

        </a>

        <!-- <a href="../pages/2020-election-guide-article.html" class="the-issues-option-card">
            <div class="the-issues-option-card-content">
                <div class="the-issues-options-card-image">
                    <img src="../assets/issues-abortion.png">
                </div>
                <div style="display: grid; align-content: flex-start;">
                    <p class="the-issues-option-card-title">
                        Abortion
                    </p>
                    <p class="the-issues-option-card-desc">
                        Many are frustrated with the state of health care in the US – an issue that’s taken
                        center stage in the midst of a pandemic.
                    </p>
                    <div class="the-issues-option-card-cta">
                        <span class="body-sans-serif-3">Read more&nbsp;&nbsp;</span>
                        <img src="../assets/arrow.svg" />
                    </div>
                </div>

            </div>

        </a> -->

        <!-- <a href="../pages/2020-election-guide-article.html" class="the-issues-option-card">
            <div class="the-issues-option-card-content">
                <div class="the-issues-options-card-image">
                    <img src="../assets/issues-economy.png">
                </div>
                <div style="display: grid; align-content: flex-start;">
                    <p class="the-issues-option-card-title">
                        Economy
                    </p>
                    <p class="the-issues-option-card-desc">
                        Many are frustrated with the state of health care in the US – an issue that’s taken
                        center stage in the midst of a pandemic.
                    </p>
                    <div class="the-issues-option-card-cta">
                        <span class="body-sans-serif-3">Read more&nbsp;&nbsp;</span>
                        <img src="../assets/arrow.svg" />
                    </div>
                </div>

            </div>

        </a> -->

        <!-- <a href="../pages/2020-election-guide-article.html" class="the-issues-option-card">
            <div class="the-issues-option-card-content">
                <div class="the-issues-options-card-image">
                    <img src="../assets/issues-education.png">
                </div>
                <div style="display: grid; align-content: flex-start;">
                    <p class="the-issues-option-card-title">
                        Education
                    </p>
                    <p class="the-issues-option-card-desc">
                        Many are frustrated with the state of health care in the US – an issue that’s taken
                        center stage in the midst of a pandemic.
                    </p>
                    <div class="the-issues-option-card-cta">
                        <span class="body-sans-serif-3">Read more&nbsp;&nbsp;</span>
                        <img src="../assets/arrow.svg" />
                    </div>
                </div>

            </div>

        </a> -->

        <a href="../pages/2020-election-guide-article.html" class="the-issues-option-card">
            <div class="the-issues-option-card-content">
                <div class="the-issues-options-card-image">
                    <img src="../assets/issues-guns.png">
                </div>
                <div style="display: grid; align-content: flex-start;">
                    <p class="the-issues-option-card-title">
                        Gun reform
                    </p>
                    <p class="the-issues-option-card-desc">
                        Due to several incidents of school shootings and other mass shootings, gun reform is one of the
                        major highlights in the US Elections 2020.
                    </p>
                    <div class="the-issues-option-card-cta">
                        <span class="body-sans-serif-3">Read more&nbsp;&nbsp;</span>
                        <img src="../assets/arrow.svg" />
                    </div>
                </div>

            </div>

        </a>

        <!-- <a href="../pages/2020-election-guide-article.html" class="the-issues-option-card">
            <div class="the-issues-option-card-content">
                <div class="the-issues-options-card-image">
                    <img src="../assets/issues-healthcare.png">
                </div>
                <div style="display: grid; align-content: flex-start;">
                    <p class="the-issues-option-card-title">
                        Healthcare
                    </p>
                    <p class="the-issues-option-card-desc">
                        Many are frustrated with the state of health care in the US – an issue that’s taken
                        center stage in the midst of a pandemic.
                    </p>
                    <div class="the-issues-option-card-cta">
                        <span class="body-sans-serif-3">Read more&nbsp;&nbsp;</span>
                        <img src="../assets/arrow.svg" />
                    </div>
                </div>

            </div>

        </a> -->

        <p
            style="font-family: Inter, sans-serif; font-weight: 700; font-size: 18px; text-align: center; align-self: center; width: 200px; justify-self: center;">
            More to come soon! ✍
        </p>
    </div>
</body>