.election-guide-sec1 {
    z-index: -2;
    position: relative;
    background: linear-gradient(270deg, #D1EFFF, #ffeaec);
    background-size: 200% 200%;
    -webkit-animation: GradientAnimation 7s ease infinite;
    -moz-animation: GradientAnimation 7s ease infinite;
    animation: GradientAnimation 7s ease infinite;
    height: 782px;
}

.joinus-animated-bg-gradient {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-content: baseline;
    text-align: center;
}

.volv-v-back-2 {
    mix-blend-mode: soft-light;
    opacity: 0.3;
    max-width: 1600px;
    display: grid;
    margin-left: 50vh;
    margin-right: auto;

}

.election-guide-article-title {
    text-align: center;
    margin-top: -600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
    animation: volv-window-desktop-animation 0.5s cubic-bezier(0.5, 0, 0, 0.99) forwards;
    
    h1{
        font-family: "Bebas Neue", sans-serif;
            font-weight: unset;
            font-size: 84px;
            margin-block-start: 0px;
            margin-block-end: 0px;
            line-height: 64px;
    }
    p{
        font-family: "Inter", sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 136.1%;
    }
}

.election-guide-article-picture{
    max-width: 840px;
    height: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    animation: volv-window-desktop-animation 0.7s cubic-bezier(0.5, 0, 0, 0.99) forwards;
    img{
        object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 5px;
    }
}

.election-guide-article-body{
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    animation: volv-window-desktop-animation 1s cubic-bezier(0.5, 0, 0, 0.99) forwards;

    
    h2{
        font-family: "DM Serif Display", serif;
            font-weight: unset;
            font-size: 28px;
            margin-block-start: 0px;
            margin-block-end: 0px;
    }
    p{
        font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 164%;
    }
    img{
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
            height: 350px;
            text-align: center;
            width: 100%;
            margin-top: 50px;
            object-position: bottom;
    }
    .rnc-point{
        //border: black solid 1.5px;
        padding: 10px 30px 15px 30px;
        border-radius: 4px;
        // border-image-slice: 1;
        // border-width: 1.5px;
        // border-image-source: linear-gradient(to left, #743ad5, #d53a9d);

        background:white;
        position: relative;
        box-sizing: border-box;
        
        
        >p{
            font-weight: 600;
        }
    }
    .rnc-point::before{
        border-radius: 5px;
        content: "";
        background-image: linear-gradient(45deg, #FF9090 0%, #FFE3E7 100%);
        padding: 1px;   
        width: 100%;
        height: 100%;
        top: -1px;
        left: -1px;
        position:absolute;
        z-index:-1;
    }
    .dnc-point{
        //border: black solid 1.5px;
        padding: 10px 30px 15px 30px;
        border-radius: 4px;
        // border-image-slice: 1;
        // border-width: 1.5px;
        // border-image-source: linear-gradient(to left, #743ad5, #d53a9d);

        background:white;
        position: relative;
        box-sizing: border-box;
        
        
        >p{
            font-weight: 600;
        }
    }
    .dnc-point::before{
        border-radius: 5px;
        content: "";
        background-image: linear-gradient(45deg, #93D5FF 0%, #D4EEFF 100%);
        padding: 1px;   
        width: 100%;
        height: 100%;
        top: -1px;
        left: -1px;
        position:absolute;
        z-index:-1;
    }
    ul{
        
        list-style: none; /* Remove list bullets */
        li{
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 164%;
            // font-style: italic;
            margin-bottom: 15px;
     
        }
        li:before{
            display: inline-block;
            content: "-";
            width: 1em;
            margin-left: -1em;
        }
    }
}

.other-issues{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding: unset;
    .the-issues-list{
        margin-top: 50px;
        padding: unset;
       .the-issues-options{
           grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
           //grid-template-rows: 1fr 1fr;
           margin: unset;
           overflow-x: visible;
           overflow-y: hidden;
           max-width: 1600px;
           padding-bottom: 100px;
           padding-right: 100px;
       }
    }
}



@media only screen and (max-width: 1700px){
    .other-issues{
        >img{
            margin: 50px;
        }
    }
}

@media only screen and (max-width: 1400px) {
    .volv-v-back-2 {
        margin-left: 45vh;
    }
}

@media only screen and (max-width: 1280px) {
    .volv-v-back-2 {
        margin-left: 35vh;
    }
}

@media only screen and (max-width: 1180px) {
    .volv-v-back-2 {
        margin-left: 30vh;
    }

    .join-us-options {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1100px) {
    .volv-v-back-2 {
        margin-left: 25vh;
    }
}

@media only screen and (max-width: 1024px) {
    .volv-v-back-2 {
        margin-left: auto;
    }
}

@media only screen and (max-width: 950px) {
    .election-guide-article-body{
        padding: 0px 50px;
    }
    .election-guide-article-picture{
        padding: 0px 50px;
        height: 50vw;
    }
    .other-issues{
        
        margin: 0px 0px;
        margin-left: unset;
        >img{
            margin: 50px;
            margin-top: 100px;
            width: 60vw;
        }
        
        .the-issues-list{
            margin-top: 50px;
            padding: unset;
           .the-issues-options{
               grid-template-columns: 1fr 1fr;
               //grid-template-rows: 1fr 1fr;
               
               padding: 0px 20px;
           }
        }
    }
}

@media only screen and (max-width: 885px) {
    .volv-v-back-2 {
        display: none;
    }
    
    .other-issues{
        
        
        
        
        .the-issues-list{
            margin-top: 50px;
            padding: 20px;
           .the-issues-options{
               grid-template-columns: 1fr 1fr;
               //grid-template-rows: 1fr 1fr;
             
               
           }
        }
    }
}

@media only screen and(max-width: 640px) {

    .election-guide-article-title{
        h1{
            font-size: 62px;
        }
        p{
            font-size: 13px;
        }
    }

    .election-guide-article-picture{
        padding: 0px 0px;
        height: 70vw;
        img{
            border-radius: 0px;
        }
    }

    .election-guide-article-body{
        padding: 0px 30px;
        margin-top: 30px;
        h2{
            font-size: 22px;
        }
        p{
            font-size: 16px;
        }
        ul{
            li{
                font-size: 14px;
            }
        }
        img{
            height: 40vw;
        }
    }

    .other-issues{   
        .the-issues-list{
            margin-top: 50px;
            padding: unset;
           .the-issues-options{
               grid-template-columns: 1fr;
               //grid-template-rows: 1fr 1fr;
             
               
           }
        }
    }
}

@media only screen and (max-width: 540px) {
    .election-guide-article-body{
        padding: 0px 20px;
        margin-top: 0px;
        h2{
            font-size: 22px;
        }
        p{
            font-size: 16px;
        }
    }
    .other-issues{
        >img{
            margin: 50px 20px 0px 20px;
            width: 80vw;
        }
    }
}