.volv-button-small {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  position: relative;
  font-family: "Apercu Pro", sans-serif;
  
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  background: linear-gradient(91.39deg, #E77329 -0.35%, #B1C4E5 110.16%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.87);
  
  // background: linear-gradient(-45deg, #e15b2b 20%, #e77422);
  border: none;
  outline: none;
  padding: 11px 24px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  letter-spacing: 0.04em;
  font-weight: 500;
  cursor: pointer;
  // box-shadow: 0 5px 10px 0 rgba(244, 126, 71, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 300ms;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  width: fit-content;
  display: inline-grid;

  &:hover {
    // box-shadow: 0 8px 16px 0 rgba(255, 89, 12, 0.3);
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.3);
  }

  .downloadnow {
    display: grid;
    column-gap: 20px;
    pointer-events: none;
    position: absolute;
    top: 60px;
    width: fit-content;
    right: 1;
    background: rgba(255, 255, 255, 1);
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-10px);
    transition: 0.5s cubic-bezier(0.83, 0, 0.17, 1);
    opacity: 0;
  }
  
  .downloadnow.active {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: unset;
  }
}

.volv-primary-button{
  font-family: "Apercu Pro";
  letter-spacing: -0.03em;
  font-weight: 700;
  background-color: white;
  padding: 14px 24px;
  border-radius: 34px;
  display: grid;
  justify-items: center;
  width: fit-content;
  font-size: 16px;
  transition: 300ms;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  appearance: none;
  &:hover{
    text-decoration: none;
    opacity: 0.8;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.05);
  }
  &:active{
    opacity: 0.5;
    transform: scale(0.9);
  }
}

.volv-primary-button-grey{
  font-family: "Apercu Pro";
  letter-spacing: -0.03em;
  font-weight: 700;
  background-color: #EDEDED;
  padding: 14px 24px;
  border-radius: 34px;
  display: grid;
  justify-items: center;
  width: fit-content;
  font-size: 16px;
  transition: 300ms;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  appearance: none;
  &:hover{
    text-decoration: none;
    opacity: 0.8;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.05);
  }
  &:active{
    opacity: 0.5;
    transform: scale(0.9);
  }
}

.hiring-page-link{
  position: absolute;
  left: -100;
  color: black;
  letter-spacing: -0.03em;
  font-size: 14px;
  top: -5;
}

