.volv-button-small {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  position: relative;
  font-family: "Apercu Pro", sans-serif;
  
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  background: linear-gradient(91.39deg, #E77329 -0.35%, #B1C4E5 110.16%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.87);
  
  // background: linear-gradient(-45deg, #e15b2b 20%, #e77422);
  border: none;
  outline: none;
  padding: 10px 22px;
  border-radius: 20px;
  color: white;
  font-size: 10px;
  letter-spacing: 0.02em;
  font-weight: 500;
  cursor: pointer;
  // box-shadow: 0 5px 10px 0 rgba(244, 126, 71, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 300ms;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  width: fit-content;
  display: inline-grid;

  &:hover {
    // box-shadow: 0 8px 16px 0 rgba(255, 89, 12, 0.3);
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.3);
  }
}

.downloadnow.option {
  display: none;
  transform: translateY(-3px);
  transition: 300ms ease-out;
}

.downloadnow.active {
  position: absolute;
  top: 60px;
  right: 1;
  background: rgba(255, 255, 255, 1);
  -webkit-backdrop-filter: blur(20px) !important;
  backdrop-filter: blur(20px) !important;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.05);
  transform: translateY(0px);
  transition: 300ms ease-out;

}