h5{
    font-family: Apercu Pro;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(147.97deg, #E77329 17.72%, #FFC451 99.11%), #FFB37D;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    span{
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    background: none;
    color: black;
    }
    @media only screen and (max-width: 540px){
        font-size: 13px;
    }
    @media only screen and (max-width: 480px){
        width: 100%;
    }
}

.h6-sec1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
    //min-height: 820px;
    background: linear-gradient(180deg, rgba(215, 226, 243, 0.7) 0%, rgba(255, 238, 232, 0.7) 100%);
    @media only screen and (max-width: 1024px){
        grid-template-columns: unset;
        height: unset;
    }
    @media only screen and (max-width: 480px){
        padding-top: 50px;
    }
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .usp{
        padding: 10vw;
        @media only screen and (max-height: 840px){
            padding: 7vw;
        }
        @media only screen and (max-width: 1024px){
            padding: 10vw 10vw 0px 10vw;
        }
        @media only screen and (max-width: 480px){
            text-align: center;
        }
        .the-millenial-news-app{
            margin-top: 5vh;
            height: fit-content;
            width: 200px;
        }
        h1{
            font-family: Apercu Pro;
            font-size: 36px;
            letter-spacing: -0.05em;
            @media only screen and (max-width: 480px){
                font-size: 30px;
            }
        }
        .text-app-download-appstore{
            justify-content: left;
            @media only screen and (max-width: 480px){
                justify-content: center;
            }
        }
    }
    .billboard{
        display: grid;
        img{
            object-position: bottom;
            @media only screen and (max-width: 1024px){
                height: 50vw;
            }
        }
        
    }

}

.h6-sec2{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 300px 1fr;
    height: fit-content;
    justify-items: center;
    align-items: center;
    font-family: Apercu Pro;
    @media only screen and (max-width: 960px){
        grid-template-columns: 1fr;
        row-gap: 30px;
        text-align: center;
        margin-top: 30px;
    }
    // @media only screen and (max-width: 480px){
    //     grid-template-rows: auto auto 200vw;
    // }
    .million-download{
        @media only screen and (max-width: 960px){
            grid-row: 2/3;
        }
    }
    p{
        font-weight: 300;
        font-size: 24px;
        letter-spacing: -0.03em;
    }
    .phone-white{
        height: 700px;
        @media only screen and (max-width: 480px){
            height: 160vw;
        }
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .text-app-download-appstore{
        //display: grid;
    }
    h6{
        text-align: center;
        font-size: 18px;
        margin-block-start: 0px;
        margin-block-end: 0px;
        letter-spacing: -0.03em;
    }

    .million-stories-swiped{
        position: absolute;
        width: 600px;
        top: 230px;
        z-index: -1;
        @media only screen and (max-width: 1024px){
            width: 70%;
            top: 250px;
        }
        @media only screen and (max-width: 960px){
            top: 440px;
        }
        @media only screen and (max-width: 640px){
            top: 420px;
        }
        @media only screen and (max-width: 480px){
            top: 420px;
        }
        @media only screen and (max-width: 420px){
            top: 114vw;
        }
    }
}

.h6-sec3{
    background: linear-gradient(322.44deg, rgba(255, 238, 232, 0.4) -0.71%, rgba(209, 236, 236, 0.4) 133.69%);
    height: 300px;
    margin-top: -120px;
    z-index: -2;
    position: relative;
}

.h6-sec4{
    display: grid;
    margin-top: -100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 50px 80px 100px 80px;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.04);
    background-color: white;
    @media only screen and (max-width: 1024px){
        margin: -100px 7vw 7vw 7vw;
        padding: 7vw 5vw;
    }
    h2{
        font-family: "Shapiro 75 Heavy Wide";
        text-align: center;
        margin-bottom: 70px;
        @media only screen and (max-width: 1024px){
            margin-bottom: 30px;
        }
        @media only screen and (max-width: 480px){
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
    p{
        font-family: Apercu Pro;
        font-weight: 300;
        font-size: 24px;
        letter-spacing: -0.03em;
        @media only screen and (max-width: 1024px){
            text-align: center;
        }
        @media only screen and (max-width: 480px){
            font-size: 18px;
        }
    }
    div{
        display: grid;
        grid-template-columns: 300px auto;
        align-items: center;
        @media only screen and (max-width: 1024px){
            grid-template-columns: auto;
            justify-items: center;
            row-gap: 50px;
        }
        .bias-desc{
            display: grid;
            grid-template-columns: auto;
            row-gap: 20px;
            @media only screen and (max-width: 1024px){
                justify-items: center;
                max-width: 400px;
            }
            img{
                justify-self: left;
                width: 100px;
                object-fit: contain;
            }
        }
    }
    img{
        justify-self: center;
        width: 40vw;
        @media only screen and (max-width: 1024px){
            width: 100%;
        }
    }
}

.h6-sec5{
    margin-top: -50px;
    //margin-bottom: 50px;
    padding: 50px 0px 100px 0px;
    h2{
        font-family: "Shapiro 75 Heavy Wide";
        text-align: center;
        margin-bottom: 70px;
        @media only screen and (max-width: 480px){
            margin-bottom: 30px;
        }
    }
    @media only screen and (max-width: 480px){
        font-size: 13px;
    }
    p{
        font-family: Apercu Pro;
        font-weight: 300;
        font-size: 24px;
        letter-spacing: -0.03em;
    }
    div{
        display: grid;
        grid-template-columns: 300px auto;
    }
    img{
        justify-self: center;
        width: 40vw;
    }
    .reviews-6{
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 0px 0px 50px 150px;
        column-gap: 40px;
        overflow-x: visible;
        overflow-y: hidden;
        @media only screen and (max-width: 768px){
            padding: 0px 0px 25px 20px;
            column-gap: 20px;
        }
        div{
            width: 320px;
            background: linear-gradient(180deg, rgba(252, 204, 177, 0.6) 0%, rgba(209, 236, 236, 0.324) 100%);
            border-radius: 7px;
            font-family: Apercu Pro;
            padding: 20px 40px 30px 40px;
            @media only screen and (max-width: 768px){
                width: 240px;
            }
        }
        .quote-review{
            display: grid;
            grid-template-columns: auto;
            padding: 20px 40px 30px 40px;
            @media only screen and (max-width: 768px){
                padding: 10px 20px 15px 20px;
            }
            p{
                font-weight: 300;
                font-size: 18px;
            }
            h3{
                margin-block-end: 5px;
            }
            span{
                font-size: 12px;
            }
            @media only screen and (max-width: 768px){
                p{
                    font-size: 14px;
                }
                h3{
                    font-size: 16px;
                }
                span{
                    font-size: 10px;
                }
            }
        }
        .youtube-review{
            display: grid;
            grid-template-columns: auto;
            align-content: flex-end;
            padding: 20px 20px 30px 20px;
            background-size: cover;
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
            @media only screen and (max-width: 768px){
                padding: 10px 20px 15px 20px;
            }
            h3{
                font-size: 26px;
                font-weight: 400;
                letter-spacing: -0.03em;
                color: white;
            }
            img{
                height: 30px;
                width: min-content;
                object-fit: contain;
                justify-self: left;
            }
            a{
                text-decoration: none;
                transition: 300ms;
                &:hover{
                    opacity: 0.5;
                }
            }
            @media only screen and (max-width: 768px){
                h3{
                    font-size: 18px;
                }
                img{
                    height: 20px;
                    object-position: left;
                }
            }
        }
    }
}
