.h6-sec1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
    //min-height: 820px;
    background: linear-gradient(180deg, rgba(215, 226, 243, 0.7) 0%, rgba(255, 238, 232, 0.7) 100%);
    @media only screen and (max-width: 1024px){
        grid-template-columns: unset;
        height: fit-content;
    }
    @media only screen and (max-width: 480px){
        padding-top: 50px;
        height: fit-content;
    }
    h5{
        font-family: Apercu Pro;
        animation: volv-window-desktop-animation 1.9s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        font-size: 16px;
        font-weight: 600;
        background: linear-gradient(147.97deg, #E77329 17.72%, #FFC451 99.11%), #FFB37D;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: fit-content;
        span{
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
        background: none;
        color: black;
        }
        @media only screen and (max-width: 540px){
            font-size: 13px;
        }
        @media only screen and (max-width: 480px){
            width: 100%;
        }
    }
    
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .usp{
        padding: 10vw;
        @media only screen and (max-height: 840px){
            padding: 7vw;
        }
        @media only screen and (max-width: 1024px){
            padding: 10vw 10vw 0px 10vw;
        }
        @media only screen and (max-width: 480px){
            text-align: center;
        }
        .the-millenial-news-app{
            animation: volv-window-desktop-animation 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
            margin-top: 5vh;
            height: fit-content;
            width: 200px;
            @media only screen and (max-width: 480px){
                margin-top: 20px;
            }
        }
        h1{
            animation: volv-window-desktop-animation 1.3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
            font-family: Apercu Pro;
            font-size: 36px;
            letter-spacing: -0.05em;
            @media only screen and (max-width: 480px){
                font-size: 30px;
            }
        }
        .text-app-download-appstore{
            animation: volv-window-desktop-animation 1.6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
            justify-content: left;
            @media only screen and (max-width: 480px){
                justify-content: center;
                height: 60px;
            }
        }
    }
    .billboard{
        display: grid;
        img{
            animation: volv-window-desktop-animation 2.1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
            object-position: bottom;
            @media only screen and (max-width: 1024px){
                height: 50vw;
            }
        }
        
    }

}

.h6-snap {
    //background: radial-gradient(50% 50% at 50% 50%, #FFFC00 0%, rgba(255, 252, 0, 0) 80%);
    height: 400px;
    width: 400px;
    align-items: center;
    display: grid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    justify-items: center;
    @media only screen and (max-width: 640px){
        height: 300px;
        width: 300px;
        margin-bottom: 70px;
    }
    &:hover{
        //background: radial-gradient(50% 50% at 50% 50%, #FFFC00 0%, rgba(255, 252, 0, 0) 100%);
    }
    >img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;
    }
    >.h6-snap-container {
        display: grid;
        position: relative;
        &:hover{
            .snap-bg{
                filter: blur(50px);
            }
        }
    }
    p{
        font-family: "Apercu Pro";
        font-size: 18px;
        letter-spacing: -0.03em;
        font-weight: 400;
    }
    .snap-inc-logo{
        width: 120px;
        justify-self: center;
        margin-top: -10px;
        margin-bottom: 20px;
    }
    .snap-logo{
        width: 70px;
        margin: 20px 0px;
        justify-self: center;
        &:hover{
            cursor: pointer;
        }
    }
    .snap-bg{
        position: absolute;
        z-index: -1;
        top: 25px;
        filter: blur(80px);
        transition: 300ms;
    }
}
.h6-sec2{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 300px 1fr;
    height: fit-content;
    justify-items: center;
    text-align: center;
    align-items: center;
    font-family: Apercu Pro;
    margin-top: 150px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (max-width: 960px){
        grid-template-columns: 1fr;
        row-gap: 30px;
        text-align: center;
        margin-top: 30px;
        height: 960px;
    }
    h5{
        font-family: Apercu Pro;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        font-size: 16px;
        font-weight: 600;
        background: linear-gradient(147.97deg, #E77329 17.72%, #FFC451 99.11%), #FFB37D;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        //width: fit-content;
        span{
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
        background: none;
        color: black;
        }
        @media only screen and (max-width: 540px){
            font-size: 13px;
        }
        @media only screen and (max-width: 480px){
            width: 100%;
        }
    }
    
    // @media only screen and (max-width: 480px){
    //     grid-template-rows: auto auto 200vw;
    // }
    .million-download{
        @media only screen and (max-width: 960px){
            grid-row: 2/3;
        }
        @media only screen and (max-width: 480px){
            height: 130px;
        }
    }
    p{
        animation: volv-window-desktop-animation 2.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        font-weight: 300;
        font-size: 24px;
        letter-spacing: -0.03em;
    }
    .phone-white{
        animation: volv-window-desktop-animation 2.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        height: 700px;
        position: relative;
        @media only screen and (max-width: 960px){
            margin-top: 150px;
        }
        @media only screen and (max-width: 480px){
            height: 160vw;
            margin-top: 150px;
        }
        >.video-container {
            position: absolute;
            top: 93px;
            left: 50px;
            z-index: 1;
            width: 200px;
            height: auto;
            border-radius: 15px;
            @media only screen and (max-width: 1024px){
                top: 144px;
            }
            @media only screen and (max-width: 960px){
                height: 50vw;
            }
            >.border-fix{
                height: 99.9%;
                position: absolute;
                width: 99.7%;
                z-index: 2;
                border-right: 1px white solid;
                border-bottom: 1px white solid;
                border-radius: 15px;
            }
            >.story-view-video{
                height: 100%;
                width: 100%;
                border-radius: 15px;
            }
        }
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .text-app-download-appstore{
        display: grid;
        @media only screen and (max-width: 480px){
            height: 60px;
        }
    }
    h6{
        text-align: center;
        font-size: 18px;
        margin-block-start: 0px;
        margin-block-end: 0px;
        letter-spacing: -0.03em;
    }

    .million-stories-swiped{
        position: absolute;
        width: 600px;
        //top: 230px;
        top: -330px;
        z-index: -1;
        @media only screen and (max-width: 1024px){
            width: 60%;
            //top: 250px;
            top: -330px;
        }
        @media only screen and (max-width: 960px){
            //top: 440px;
            top: -50px;
        }
        @media only screen and (max-width: 640px){
            top: -80px;
        }
        @media only screen and (max-width: 480px){
            width: 80%;
            top: -100px;
        }   
        @media only screen and (max-width: 420px){
            top: -27vw;
        }
        @media only screen and (max-width: 375px){
            //top: 120vw;
        }
        @media only screen and (max-width: 320px){
            //top: 140vw;
        }
    }
}

.h6-sec3{
    background: linear-gradient(322.44deg, rgba(255, 238, 232, 0.4) -0.71%, rgba(209, 236, 236, 0.4) 133.69%);
    height: 300px;
    margin-top: -120px;
    z-index: -2;
    position: relative;
    @media only screen and (max-width: 480px){
        margin-top: -80px;
    }
}

.h6-sec4{
    display: grid;
    margin-top: -200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 50px 80px 100px 80px;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.04);
    background-color: white;
    max-width: 1600px;
    @media only screen and (max-width: 1920px){
        margin-left: 50px;
        margin-right: 50px;
    }
    @media only screen and (max-width: 1024px){
        margin: -200px 7vw 7vw 7vw;
        padding: 7vw 5vw;

    }
    @media only screen and (max-width: 960px){
        margin: 0px 7vw 7vw 7vw;
    }
    @media only screen and (max-width: 480px){
        margin: -150px 7vw 7vw 7vw;
    }
    h2{
        font-family: "Shapiro 75 Heavy Wide";
        text-align: center;
        font-weight: 500;
        margin-bottom: 70px;
        @media only screen and (max-width: 1024px){
            margin-bottom: 30px;
        }
        @media only screen and (max-width: 480px){
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
    p{
        font-family: Apercu Pro;
        font-weight: 300;
        font-size: 24px;
        letter-spacing: -0.03em;
        @media only screen and (max-width: 1024px){
            text-align: center;
        }
        @media only screen and (max-width: 480px){
            font-size: 18px;
        }
    }
    div{
        display: grid;
        grid-template-columns: 300px auto;
        align-items: center;
        @media only screen and (max-width: 1024px){
            grid-template-columns: auto;
            justify-items: center;
            row-gap: 50px;
        }
        .bias-desc{
            display: grid;
            grid-template-columns: auto;
            row-gap: 20px;
            @media only screen and (max-width: 1024px){
                justify-items: center;
                max-width: 400px;
            }
            img{
                justify-self: left;
                width: 100px;
                object-fit: contain;
            }
        }
    }
    img{
        justify-self: right;
        width: 40vw;
        @media only screen and (max-width: 1920px){
            width: 50vw;
        }
        @media only screen and (max-width: 1024px){
            width: 100%;
        }
    }
}

.h6-sec5{
    margin-top: -50px;
    //margin-bottom: 50px;
    padding: 50px 0px 100px 0px;
    h2{
        font-family: "Shapiro 75 Heavy Wide";
        text-align: center;
        font-weight: 500;
        margin-bottom: 70px;
        @media only screen and (max-width: 480px){
            margin-bottom: 30px;
        }
    }
    @media only screen and (max-width: 480px){
        font-size: 13px;
    }
    p{
        font-family: Apercu Pro;
        font-weight: 300;
        font-size: 24px;
        letter-spacing: -0.03em;
    }
    div{
        display: grid;
        grid-template-columns: 300px auto;
    }
    img{
        justify-self: center;
        width: 40vw;
    }
    .reviews-6{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        padding: 0px 0px 50px 150px;
        column-gap: 40px;
        overflow-x: visible;
        overflow-y: hidden;
        @media only screen and (max-width: 768px){
            padding: 0px 0px 25px 20px;
            column-gap: 20px;
        }
        div{
            width: 320px;
            background: linear-gradient(180deg, rgba(252, 204, 177, 0.6) 0%, rgba(209, 236, 236, 0.324) 100%);
            border-radius: 7px;
            font-family: Apercu Pro;
            padding: 20px 40px 30px 40px;
            @media only screen and (max-width: 768px){
                width: 240px;
            }
        }
        .quote-review{
            display: grid;
            position: relative;
            grid-template-columns: auto;
            padding: 25px 40px 30px 40px;
            @media only screen and (max-width: 768px){
                padding: 10px 20px 15px 20px;
            }
            img{
                position: absolute;
                object-fit: contain;
                height: 40px;
                width: 50px;
                left: 30px;
                top: 25px;
                z-index: 0;
                @media only screen and (max-width: 768px){
                    left: 15px;
                    top: 15px;
                    height: 30px;
                    width: 40px;
                }
            }
            p{
                z-index: 1;
                font-weight: 300;
                font-size: 18px;
            }
            h3{
                align-self: flex-end;
                margin-block-end: 5px;
            }
            span{
                font-size: 12px;
            }
            @media only screen and (max-width: 768px){
                p{
                    font-size: 14px;
                }
                h3{
                    font-size: 16px;
                }
                span{
                    font-size: 10px;
                }
            }
        }
        .youtube-review{
            display: grid;
            grid-template-columns: auto;
            align-content: flex-end;
            padding: 20px 20px 30px 20px;
            background-size: cover;
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
            @media only screen and (max-width: 768px){
                padding: 10px 20px 15px 20px;
            }
            h3{
                font-size: 26px;
                font-weight: 400;
                letter-spacing: -0.03em;
                color: white;
                position: relative;
                img{
                    position: absolute;
                    object-fit: contain;
                    height: 60px;
                    width: 60px;
                    left: -10px;
                    bottom: 90px;
                    @media only screen and (max-width: 768px){
                        bottom: 60px;
                    }
                }
            }
            img{
                height: 30px;
                width: min-content;
                object-fit: contain;
                justify-self: left;
            }
            a{
                text-decoration: none;
                transition: 300ms;
                &:hover{
                    opacity: 0.5;
                }
            }
            @media only screen and (max-width: 768px){
                h3{
                    font-size: 18px;
                }
                img{
                    height: 20px;
                    object-position: left;
                }
            }
        }
    }
}
