video::-webkit-media-controls-start-playback-button {
    display: none !important;
}

.text-app-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    align-content: flex-start;
    @media only screen and (max-width: 1024px) {
        grid-template-columns: 1fr;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.text-app-cta{
    display: grid;
    padding-left: 7vw;
    background-color: #FBFBFB;
    height: 100vh;
    align-content: flex-start;
    justify-items: flex-start;
    @media only screen and (max-width: 1024px){
        height: unset;
    }
    @media only screen and (max-width: 540px){
        text-align: center;
        padding: 0px 20px;
        justify-items: center;
    }
    .volv-logo{
        animation: volv-window-desktop-animation 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        width: 100px;
        height: 100px;
        margin-top: 7vh;
        @media only screen and (max-width: 540px){
            height: 70px;
        }
    }
    h1{
        animation: volv-window-desktop-animation 1.3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        font-family: Apercu Pro;
        font-weight: 600;
        font-size: 54px;
        letter-spacing: -0.03em;
        @media only screen and (max-width: 540px){
            font-size: 32px;
        }
    }
    p{
        animation: volv-window-desktop-animation 1.6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        font-family: Apercu Pro;
        font-size: 20px;
        font-weight: 400;
        @media only screen and (max-width: 540px){
            font-size: 16px;
        }
    }
    h5{
        animation: volv-window-desktop-animation 1.9s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        font-family: Apercu Pro;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        font-size: 16px;
        font-weight: 600;
        background: linear-gradient(147.97deg, #E77329 17.72%, #FFC451 99.11%), #FFB37D;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: fit-content;
        span{
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
        background: none;
        color: black;
        }
        @media only screen and (max-width: 540px){
            font-size: 13px;
        }
    }
    .explore-volv{
        animation: volv-window-desktop-animation 2.1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        width: 170px;
        margin-top: 50px;
        @media only screen and (max-width: 540px){
            width: 140px;
            margin-top: 30px;
        }
    }
}

.text-app-download-appstore{
    @media only screen and (max-width: 1024px){
        display: grid;
    }
    @media only screen and (max-width: 540px){
        justify-self: center;
    }
    animation: volv-window-desktop-animation 1.7s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    display: none;
    grid-template-columns: auto auto;
    column-gap: 20px;
    margin-top: 30px;
    a{
        width: 120px;
    }
}

.error{
    font-family: Apercu Pro;
    display: none;
    margin-top: 20px;
    font-size: 16px !important;
    font-weight: 300 !important;
}

.success{
    font-family: Apercu Pro;
    display: none;
    margin-top: 20px;
    font-size: 16px !important;
    font-weight: 300 !important;
}

.phone-number-box.error{
    box-shadow: 0px 15px 50px #ff000020;
    ~.error{
        display: block;
        color: #ff0000;
        // color: #E77329;
    }
}

.phone-number-box.success{
    box-shadow: 0px 15px 50px #e7722930;
    ~.success{
        display: block;
        color: #E77329;
    }
}

.phone-number-box{
    animation: volv-window-desktop-animation 1.7s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    background-color: white;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    width: 420px;
    margin-top: 30px;
    appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.05);
    border-radius: 119px;
    font-family: Apercu Pro;
    font-size: 20px;
    font-weight: 300;
    height: 50px;
    @media only screen and (max-width: 1024px){
        display: none;
    }
    .phone-field{
        appearance: none;
        outline: none;
        border: none;
        background-color: transparent;
        font-family: Apercu Pro;
        font-size: 18px;
        font-weight: 300;
    }
    .phone-number-submit{
        position: absolute;
        right: 10px;
        margin-left: 300px;
        font-family: Apercu Pro;
        font-size: 16px;
        font-weight: 700;
        appearance: none;
        border: none;
        outline: none;
        color: white;
        border-radius: 119px;
        letter-spacing: -0.03em;
        padding: 16px 24px;
        cursor: pointer;
        transition: 300ms;
        box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.05);
        background: linear-gradient(91.39deg, #E77329 -0.35%, #B1C4E5 110.16%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.87);
        &:hover{
            opacity: 0.7;
        }
    }
}

.video-container{
    width: 50vw;
    max-width: 800px;
    height: 100vh;
    z-index: -1;
    background-color: #FBFBFB;
    margin-left: 49vw;
    position: absolute;
    @media only screen and (max-width: 1024px){
        margin-left: unset;
        width: 100vw;
        position: unset ;
        height: auto;
    }
      .shul-car-loop{
        animation: volv-window-desktop-animation 2.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
        width: 170%;
        margin-left: -37vw;
        margin-top: 13vh;
        object-fit: cover;
        @media only screen and (max-width: 1024px){
            margin-top: -5vw;
            margin-left: -55vw;
            width: 150%;
        }
        @media only screen and (max-width: 540px){
            margin-top: 0px;
        }
    }
}

