body{
    background-color: #FBFBFB !important;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    align-content: flex-start;
    @media only screen and (max-width: 1024px) {
        grid-template-columns: 1fr;
    }
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cta{
    display: grid;
    padding-left: 7vw;
    background-color: #FBFBFB;
    height: 100vh;
    align-content: flex-start;
    justify-items: flex-start;
    @media only screen and (max-width: 1024px){
        height: unset;
    }
    .volv-logo{
        width: 100px;
        height: 100px;
        margin-top: 7vh;
    }
    h1{
        font-family: Apercu Pro;
        font-weight: 600;
        font-size: 54px;
        letter-spacing: -0.03em;
    }
    p{
        font-family: Apercu Pro;
        font-size: 20px;
        font-weight: 400;
    }
    h5{
        font-family: Apercu Pro;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 16px;
        font-weight: 600;
        background: linear-gradient(147.97deg, #E77329 17.72%, #FFC451 99.11%), #FFB37D;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: fit-content;
        span{
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
        background: none;
        color: black;
        }
    }
    .explore-volv{
        width: 170px;
        margin-top: 50px;
    }
}

.phone-number-box{
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    width: 445px;
    margin-top: 30px;
    appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.05);
    border-radius: 119px;
    font-family: Apercu Pro;
    font-size: 20px;
    font-weight: 300;
    height: 50px;
    .phone-field{
        appearance: none;
        outline: none;
        border: none;
        background-color: transparent;
        font-family: Apercu Pro;
        font-size: 18px;
        font-weight: 300;
    }
    .phone-number-submit{
        position: absolute;
        //left: 7vw;
        margin-left: 300px;
        font-family: Apercu Pro;
        font-size: 16px;
        font-weight: 700;
        appearance: none;
        border: none;
        outline: none;
        color: white;
        border-radius: 119px;
        letter-spacing: -0.03em;
        padding: 16px 24px;
        cursor: pointer;
        transition: 300ms;
        box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.05);
        background: linear-gradient(91.39deg, #E77329 -0.35%, #B1C4E5 110.16%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.87);
        &:hover{
            opacity: 0.7;
        }
    }
}

.video-container{
    width: 50vw;
    max-width: 800px;
    height: 100vh;
    z-index: -1;
    background-color: #FBFBFB;
    margin-left: 50vw;
    position: fixed;
    @media only screen and (max-width: 1024px){
        margin-left: unset;
        width: 100vw;
        position: unset ;
        height: auto;
    }
      .shul-car-loop{
        width: 170%;
        margin-left: -37vw;
        margin-top: 13vh;
        object-fit: cover;
        @media only screen and (max-width: 1024px){
            margin-top: -5vw;
            margin-left: -55vw;
            width: 150%;
        }
    }
}

