body {
  margin: 0px;
  /* color: #323232; */
  /* background-color: #F2F6FC; */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  display: grid;
  grid-area: header;
  margin: 0px 0px 0px 0px;
  grid-template-columns: auto auto;
  align-self: flex-start;
  background-color: #fff;
  max-width: 1920px;
  position: absolute;
  width: 100%;
}

.volv-logo {
  height: 45px;
  justify-self: flex-start;
  margin: 20px;
}

.instagram {
  justify-self: flex-end;
  margin: 30px;
  /* margin-left: auto;
  margin-right: 10px; */
}

.instagram > img {
  height: 20px;
}

.content {
  font-family: "Lato", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-areas:
    "header header"
    "readlessknowmore readlessknowmore"
    "evolvewithus phone"
    "footer footer";

  max-width: 1920px;
  margin: auto auto;
  background-color: #fff;
}

.downarrow {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
  margin-top: 10vh;
}

.downsvg {
  height: 10px;
  cursor: pointer;
  opacity: 0.2;
  animation: downarrow 700ms linear infinite;
}

.desktop-p {
  display: block;
  font-size: 18px;
  line-height: 200%;
}

.mobile-p {
  display: none;
  font-size: 17px;
}

.read-less-know-more {
  grid-area: readlessknowmore;
  /* justify-self: center; */
  height: 100vh;
  background: url("Assets/V\ Light.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 35%;
  background-position-x: -10%;
  background-position-y: 70%;
  background-size: 365px;
  position: relative;
  display: grid;
  align-content: center;
}

.evolve-with-us {
  grid-area: evolvewithus;
  margin: 7% 10%;
  display: grid;
  align-content: flex-start;
}

.evolve-with-us > h1 {
  font-weight: 300;
  font-size: 57px;
  text-align: left;
  line-height: 130%;
  letter-spacing: -1px;
}

.evolve-with-us > p {
  color: #323232;
  font-weight: 300;
  font-size: 27px;
  text-align: left;
  line-height: 150%;
}

.phone {
  grid-area: phone;
  background: url("Assets/Phone\ Graphic\ 2.png");
  background-repeat: no-repeat;
  background-size: 1100px;
  background-position-y: 70vh;
  background-position-x: -20%;
  grid-row-start: 1;
}

h1 {
  font-weight: 300;
  font-size: 57px;
  text-align: center;
  line-height: 130%;
  letter-spacing: -1px;
  margin-top: 0px;
}

p {
  font-weight: 300;
  text-align: center;
  text-justify: auto;
  line-height: 152%;
  color: #000000;
}

.lighttext {
  font-weight: 100;
  color: #cccccc;
}

.submitbutton {
  font-family: "Lato", sans-serif;
  font-size: 11px;
  font-weight: 700;
  background-color: #f47e47;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;

  height: 40px;
  text-align: center;

  letter-spacing: 1.5px;
  text-decoration: none;
  box-shadow: 0 1px 5px 0 rgba(244, 126, 71, 0.2);
  cursor: pointer;
  margin-right: 10px;
  margin-left: auto;
  margin-top: -50px;
  z-index: 5;
  outline: none;
  transition: 300ms;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.submitbutton:hover {
  box-shadow: 0 4px 12px 0 rgba(244, 126, 71, 0.2);
}

.submitbutton:active {
  background-color: rgb(230, 120, 69);
  box-shadow: 0 1px 2px 0 rgba(244, 126, 71, 0.2);
}

.bene_form {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10px;
  max-width: 420px;
}

.inputemail {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  width: 500px;
  padding: 20px 190px 20px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 30px;
  height: 60px;
  outline: none;
  backdrop-filter: blur(3px);
  filter: drop-shadow(0px 6px 10px rgba(215, 226, 243, 0.4));
  transition: 300ms;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.inputemail:hover {
  filter: drop-shadow(0px 12px 20px rgba(215, 226, 243, 0.4));
}

.inputemail:focus {
  filter: drop-shadow(0px 12px 20px rgba(244, 126, 71, 0.1));
}

.volv-highlight {
  background-color: #fef3e9;
  font-weight: 300;
  font-size: 21px;
  /* text-align: center; */
  line-height: 150%;
  margin: 2px;
  justify-self: flex-start;
  align-self: flex-start;
}

.footer {
  display: grid;
  align-content: center;
  grid-area: footer;
  height: 100px;
  background-color: #fcfcfc;
  color: rgb(89, 89, 89);
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  width: 100%;
}

.footer > div {
  margin-left: auto;
  margin-right: auto;
  /* width: 250px; */
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.modal {
  background-color: rgba(255, 255, 255, 0.8);
  /* -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 50;
  display: none;
  align-items: center;
  /* animation: fadein 300ms; */
}

.modal-title {
  display: grid;
  text-align: -webkit-right;
}

.modalcontent {
  display: grid;
  align-self: center;
}

.modalbox {
  display: grid;
  background-color: #fff;
  height: 500px;
  width: 100%;
  max-width: 700px;
  filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.1));
  border-radius: 5px;
  justify-self: center;
}

.close-button {
  display: grid;
  padding: 20px;
  cursor: pointer;
}

.volv-v {
  display: grid;
  justify-items: center;
  padding: 30px;
  margin-top: -130px;
}

.volv-v > h1 {
  font-family: "Lato", sans-serif;
  font-size: 42px;
}

.volv-v > p {
  font-family: "Lato", sans-serif;
  font-size: 24px;
}

.volv-v > img {
  height: 100px;
}

.downloadnow {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
}

.downloadnow > div {
  align-self: center;
}

.android > a > img {
  height: 60;
}

@media only screen and (max-height: 600px) {
  .read-less-know-more {
    height: 580px;
  }
}

@media only screen and (max-height: 720px) {
  h1 {
    font-size: 48px;
  }

  p {
    font-size: 26px;
  }

  .read-less-know-more {
    background-position-y: 100%;
  }

  .evolve-with-us > h1 {
    font-size: 48px;
  }
}

@media only screen and (min-height: 860px) {
  /* .read-less-know-more {
    background-position-y: 100%;
  } */

  h1 {
    font-size: 72px;
  }

  /* .phone {
        background-position-y: 80%;
        background-position-x: -20%;
    } */
}

@media only screen and (min-height: 1280px) {
  /* .header {
    padding: 60px;
  } */

  /* .phone {
        background-size: 1100px;
        background-position-y: 200%;
    } */
}

/* @media only screen and (min-height: 1024px){
    .read-less-know-more{
        height: 720px;
    }
} */

@media only screen and (min-width: 1500px) {
  .phone {
    background-position-x: -50%;
  }

  .evolve-with-us {
    margin-left: 70px;
  }
}

@media only screen and (min-width: 1650px) {
  .phone {
    background-position-x: -100%;
  }

  .evolve-with-us {
    margin-left: 80px;
  }
}

@media only screen and (min-width: 1750px) {
  .phone {
    background-position-x: -150%;
  }

  .evolve-with-us {
    margin-left: 80px;
  }
}

@media only screen and (min-width: 1850px) {
  .phone {
    background-position-x: -200%;
  }

  .evolve-with-us {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 1280px) {
  .phone {
    background-position-x: -20%;
  }
}

@media only screen and (max-width: 1100px) {
  .read-less-know-more {
    background: none;
  }

  .phone {
    background-position-x: 0%;
  }
}

@media only screen and (max-width: 980px) {
  .content {
    font-family: "Lato", sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "readlessknowmore"
      "phone"
      "evolvewithus"
      "footer";
  }

  .inputemail {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    width: auto;
    padding: 20px;
    border: none;
    border-radius: 30px;
    height: 60px;
    outline: none;
    filter: drop-shadow(0px 6px 10px rgba(215, 226, 243, 0.4));
    transition: 300ms;
  }

  .bene_form {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
    width: 100%;
  }

  .phone {
    grid-area: phone;
    background: url("Assets/Phone\ Graphic\ 2.png");
    background-repeat: no-repeat;
    background-size: 1100px;
    background-position-x: 17em;
    height: 1100px;
  }
}

@media only screen and (max-width: 820px) {
  .phone {
    background-size: 1100px;
    background-position-x: 12em;
    grid-row: 2 / span 1;
    height: 1100px;
  }
}

@media only screen and (max-width: 640px) {
  .desktop-p {
    display: none;
  }

  .mobile-p {
    display: block;
  }

  h1 {
    font-size: 42px;
  }

  p {
    font-size: 17px;
  }

  .volv-logo {
    height: 35px;
    justify-self: flex-start;
  }

  /* .header {
    padding: 20px;
  } */

  .read-less-know-more {
    background: none;
    height: 100vh;
  }

  .phone {
    background-position-x: 10%;
    background-position-y: -15vh;
    height: 1000px;
  }

  .evolve-with-us {
    margin: 0px 20px;
  }

  .evolve-with-us > h1 {
    text-align: center;
    font-size: 42px;
  }

  .evolve-with-us > p {
    font-size: 17px;
    text-align: center;
  }

  .volv-highlight {
    font-size: 15px;
    text-align: center;
    justify-self: center;
  }

  .submitbutton {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .bene_form {
    max-width: unset;
  }
  .downloadnow {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 420px) {
  .read-less-know-more {
    height: 100vh;
  }

  .volv-v > h1 {
    font-family: "Lato", sans-serif;
    font-size: 32px;
  }

  .volv-v > p {
    font-family: "Lato", sans-serif;
    font-size: 20px;
  }

  .volv-v > img {
    height: 60px;
  }

  .modalbox {
    height: 400px;
  }
}
