<head>
    <link rel="stylesheet" type="text/css" href="../styles/footer-3.css" />
</head>

<body>
    <div class="footer-3">
        <div class="footer-first-half">
          <!-- <div class="footer-volv-logo">
            <img src="../assets/volv-logo-black.svg" alt="Volv" />
          </div> -->
          <div class="footer-feedback-links">
            <a class="typeform-share button" href="https://form.typeform.com/to/vcIxEjqU?typeform-medium=embed-snippet" data-mode="drawer_right">Tell us what you think of Volv</a>
            <a class="typeform-share button" href="https://form.typeform.com/to/lUc1A3ju?typeform-medium=embed-snippet" data-mode="drawer_right">Request a new feature</a>
            <a class="typeform-share button" href="https://form.typeform.com/to/QzMR7gCy?typeform-medium=embed-snippet" data-mode="drawer_right">Report a bug</a>
          </div>
          <div class="footer-links">
            <p>Get in touch 👇</p><br>
            <a href="https://www.instagram.com/volvmedia/" target="_blank"><img src="../assets/instagram-logo.svg" alt="" /></a>
            <a href="mailto:connect@volvmedia.com" target="_blank"><img src="../assets/main-icon-black.svg" alt="" /></a>
            <a href="https://twitter.com/volv_media" target="_blank"><img src="../assets/twitter-logo.svg" alt="" /></a>
            <a href="https://medium.com/@volvmedia" target="_blank"><img src="../assets/medium-logo.svg" alt="" /></a>
          </div>
        </div>
        <div class="footer-second-half">
          <div class="footer-second-left">
            <a target="_blank" href="https://volvmedia.com/PrivacyPolicy">Privacy Policy</a>
            <a target="_blank" href="https://volvmedia.com/TermsAndConditions">Terms And Conditions</a>
          </div>
          <div class="footer-second-right">
            <a href="" style="text-decoration: none; cursor: unset;">© Copyright Volv 2021</a>
          </div>
        </div>
    </div>
</body>