<head>
    <link rel="stylesheet" type="text/css" href="../styles/volv-style.css" />
</head>

<body>
    <div class="the-issues-options">

        <a href="../pages/2020-election-guide-trade.html" class="the-issues-option-card">
            <div class="the-issues-option-card-content">
                <div class="the-issues-options-card-image">
                    <img src="../assets/issues-trade.jpg">
                </div>
                <div style="display: grid; align-content: flex-start;">
                    <p class="the-issues-option-card-title">
                        Trade
                    </p>
                    <p class="the-issues-option-card-desc">
                        Both candidates have differing policies with regards to trade.<br><br><br>
                    </p>
                    <div class="the-issues-option-card-cta">
                        <span class="body-sans-serif-3">Read more&nbsp;&nbsp;</span>
                        <img src="../assets/arrow.svg" />
                    </div>
                </div>

            </div>

        </a>

        <a href="../pages/2020-election-guide-criminal-reform.html" class="the-issues-option-card">
            <div class="the-issues-option-card-content">
                <div class="the-issues-options-card-image">
                    <img src="../assets/issues-criminal-justice.jpg">
                </div>
                <div style="display: grid; align-content: flex-start;">
                    <p class="the-issues-option-card-title">
                        Criminal Justice
                    </p>
                    <p class="the-issues-option-card-desc">
                        Both candidates have taken widely different stances regarding the United States criminal justice policy.<br><br>
                    </p>
                    <div class="the-issues-option-card-cta">
                        <span class="body-sans-serif-3">Read more&nbsp;&nbsp;</span>
                        <img src="../assets/arrow.svg" />
                    </div>
                </div>

            </div>

        </a>

        <a href="../pages/2020-election-guide-economy.html" class="the-issues-option-card">
            <div class="the-issues-option-card-content">
                <div class="the-issues-options-card-image">
                    <img src="../assets/issues-economy.png">
                </div>
                <div style="display: grid; align-content: flex-start;">
                    <p class="the-issues-option-card-title">
                        Economy
                    </p>
                    <p class="the-issues-option-card-desc">
                        Both candidates have promised to create millions of jobs and have unveiled trillion-dollar infrastructure plans to promote employment.
                    </p>
                    <div class="the-issues-option-card-cta">
                        <span class="body-sans-serif-3">Read more&nbsp;&nbsp;</span>
                        <img src="../assets/arrow.svg" />
                    </div>
                </div>

            </div>

        </a>
        
        <a href="../pages/2020-election-guide-healthcare.html" class="the-issues-option-card">
            <div class="the-issues-option-card-content">
                <div class="the-issues-options-card-image">
                    <img src="../assets/issues-healthcare.png">
                </div>
                <div style="display: grid; align-content: flex-start;">
                    <p class="the-issues-option-card-title">
                        Healthcare
                    </p>
                    <p class="the-issues-option-card-desc">
                        Healthcare has always been a key election issue especially with incumbent decisions regarding COVID-19, abortion, and Obamacare.
                    </p>
                    <div class="the-issues-option-card-cta">
                        <span class="body-sans-serif-3">Read more&nbsp;&nbsp;</span>
                        <img src="../assets/arrow.svg" />
                    </div>
                </div>

            </div>

        </a>

        <a href="../pages/2020-election-guide-allegations.html" class="the-issues-option-card">
            <div class="the-issues-option-card-content">
                <div class="the-issues-options-card-image">
                    <img src="../assets/issues-allegations.jpg">
                </div>
                <div style="display: grid; align-content: flex-start;">
                    <p class="the-issues-option-card-title">
                        Sexual Assault Allegations
                    </p>
                    <p class="the-issues-option-card-desc">
                        Both candidates have had sexual assault allegations levelled against them. 
                    </p>
                    <div class="the-issues-option-card-cta">
                        <span class="body-sans-serif-3">Read more&nbsp;&nbsp;</span>
                        <img src="../assets/arrow.svg" />
                    </div>
                </div>

            </div>

        </a>

        <a href="../pages/2020-election-guide-immigration.html" class="the-issues-option-card">
            <div class="the-issues-option-card-content">
                <div class="the-issues-options-card-image">
                    <img src="../assets/issues-immigration.jpg">
                </div>
                <div style="display: grid; align-content: flex-start;">
                    <p class="the-issues-option-card-title">
                        Immigration
                    </p>
                    <p class="the-issues-option-card-desc">
                        With 11 million undocumented residents in the US, immigration has been a key issue in elections.
                        Here are the candidates' stance on immigration:
                    </p>
                    <div class="the-issues-option-card-cta">
                        <span class="body-sans-serif-3">Read more&nbsp;&nbsp;</span>
                        <img src="../assets/arrow.svg" />
                    </div>
                </div>

            </div>

        </a>

        <a href="../pages/2020-election-guide-climate-change.html" class="the-issues-option-card">
            <div class="the-issues-option-card-content">
                <div class="the-issues-options-card-image">
                    <img src="../assets/issues-climate-change.png">
                </div>
                <div style="display: grid; align-content: flex-start;">
                    <p class="the-issues-option-card-title">
                        Climate Change
                    </p>
                    <p class="the-issues-option-card-desc">
                        Both candidates have diametrically opposing views on climate change. Here's a deep dive on where
                        they stand.
                    </p>
                    <div class="the-issues-option-card-cta">
                        <span class="body-sans-serif-3">Read more&nbsp;&nbsp;</span>
                        <img src="../assets/arrow.svg" />
                    </div>
                </div>

            </div>

        </a>

        <a href="../pages/2020-election-guide-gun-reform.html" class="the-issues-option-card">
            <div class="the-issues-option-card-content">
                <div class="the-issues-options-card-image">
                    <img src="../assets/issues-guns.png">
                </div>
                <div style="display: grid; align-content: flex-start;">
                    <p class="the-issues-option-card-title">
                        Gun reform
                    </p>
                    <p class="the-issues-option-card-desc">
                        Due to several incidents of school shootings and other mass shootings, gun reform is one of the
                        major highlights in the US Elections 2020.
                    </p>
                    <div class="the-issues-option-card-cta">
                        <span class="body-sans-serif-3">Read more&nbsp;&nbsp;</span>
                        <img src="../assets/arrow.svg" />
                    </div>
                </div>

            </div>

        </a>

        

        <!-- <a href="../pages/2020-election-guide-article.html" class="the-issues-option-card">
            <div class="the-issues-option-card-content">
                <div class="the-issues-options-card-image">
                    <img src="../assets/issues-healthcare.png">
                </div>
                <div style="display: grid; align-content: flex-start;">
                    <p class="the-issues-option-card-title">
                        Healthcare
                    </p>
                    <p class="the-issues-option-card-desc">
                        Many are frustrated with the state of health care in the US – an issue that’s taken
                        center stage in the midst of a pandemic.
                    </p>
                    <div class="the-issues-option-card-cta">
                        <span class="body-sans-serif-3">Read more&nbsp;&nbsp;</span>
                        <img src="../assets/arrow.svg" />
                    </div>
                </div>

            </div>

        </a> -->

        <!-- <p
            style="font-family: Inter, sans-serif; font-weight: 700; font-size: 18px; text-align: center; align-self: center; width: 200px; justify-self: center;">
            More to come soon! ✍
        </p> -->
    </div>
</body>