<head>
  <link rel="stylesheet" type="text/css" href="../styles/volv-style.css" />
</head>

<body>
  <div class="volv-button-small" type="button" onclick="getOS()">
    <div>DOWNLOAD VOLV</div>
    <div style="opacity: 0.7;">— IT'S FREE</div>
    <div class="downloadnow">
      <div
        style="
          grid-column: 1/3;
          color: black;
          text-align: center;
          margin-bottom: 10px;
        "
      >
        Available on Android and iOS
      </div>
      <div class="android">
        <a
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.volvmedia.volvapp&hl=en_IN&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
        >
          <img
            alt="Get it on Google Play"
            style="margin-left: -10;"
            src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
        /></a>
      </div>
      <div class="ios">
        <a
          target="_blank"
          href="https://apps.apple.com/us/app/volv-read-less-know-more/id1474813657?ls=1"
        >
          <img alt="Download on the App Store" src="../assets/app-store.svg"
        /></a>
      </div>
    </div>
  </div>
</body>
