body{
    margin: 0px;
    background-color: rgba(242, 246, 252, 0.5);
}
.wrapper {
    
}
.acrylic{
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(242, 246, 252, 0.4);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    z-index: 10;
    border: solid rgba(100, 100, 100, 0.1);
    border-width: 0px 0px 1px 0px;
}
.acrylic > div {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.gradientbg{
    display: grid;
    background-image: linear-gradient(rgba(242, 246, 252, 0),#FEF3E9);
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    width: 100%;
    z-index: -5;
    bottom: 0;
}
.header{
    margin-top: 30px;
    margin-left: 100px;
}
.title{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
    align-content: flex-start;
}
/* .volvpill{
    z-index: -5;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
} */
.volvpill{
    display: grid;
    background-image: url("Assets/Pillz.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 80%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 500px;
    z-index: -5;
}
/* .volvpill{
    display: grid;
    background-image: url("Assets/volv_app_illustration.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    bottom:0;
    width:100%;
    z-index: -5;
    opacity: 0.4;
} */
.content{
    padding-top: 30px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    align-content: flex-start;
    width: auto;
}

h1{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 500;
    padding-top: 100px;
}
h2{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 500;
}
.content > .section2 > div > h2{
    font-family: 'Lato', sans-serif;
    font-size: 37px;
    font-weight: 300;
    padding-top: 100px;
}
.content > div > h3{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding-top: 0px;
    color: #466DB5;
}
h6{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #466DB5;
    margin-top: 150px;
}
.inputemail {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 30px;
    height: 60px;
    outline: none;
    backdrop-filter: blur(3px);
    filter: drop-shadow(0px 6px 10px rgba(215, 226, 243, 0.4));
    transition: 300ms;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.sign_up_2{
    grid-column: 2;
    grid-row: 2;
    margin-left: 200px;
    margin-top: -400px;
}
::placeholder { /* Firefox, Chrome, Opera */ 
    color: rgb(200, 200, 200); 
    font-weight: 300;
} 

.inputemail:hover{
    filter: drop-shadow(0px 12px 20px rgba(215, 226, 243, 0.4));
}
.inputemail:focus{
    filter: drop-shadow(0px 12px 20px rgba(244, 126, 71, 0.1));
}

.submitbutton {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: 700;
    background-color: #F47E47;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    height: 40px;;
    letter-spacing: 1.5px;
    text-decoration: none;
    box-shadow: 0 1px 5px 0 rgba(244, 126, 71, 0.2);
    cursor: pointer;
    margin-right: 10px;
    margin-left: auto;
    margin-top: -50px;
    z-index: 5;
    outline: none;
    transition: 300ms;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.submitbutton:hover{
    box-shadow: 0 4px 12px 0 rgba(244, 126, 71, 0.2);
}

.submitbutton:active{
    background-color: rgb(230, 120, 69);
    box-shadow: 0 1px 2px 0 rgba(244, 126, 71, 0.2);
}

.bene_form{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
    max-width: 420px;
}
.section2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1280px;
    margin: auto auto;
}
.section2 > div{
    padding-top: 20px; 
}
.section2content{
    margin-left: 200px;
}
.gif{
    margin-left: 12px;
    filter: drop-shadow(0px 12px 20px rgba(215, 226, 243, 0.4));
}
.gifframe{
    filter: drop-shadow(0px 12px 20px rgba(215, 226, 243, 0.4));
    margin-top: -692px;
}
.footer{
    height: 50px;
    background-color: #fff;
    margin-top: 100px;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}
.footer > div{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    text-align: center;
}
a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}




@media only screen and (max-height: 480px){
    .gradientbg{
        display: grid;
        background-image: linear-gradient(rgba(242, 246, 252, 0),#FEF3E9);
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        width:100%;
        z-index: -5;
        margin-bottom: -300px;
    }
    .volvpill{
        margin-bottom: -300px;
    }
}
/* 
@media only screen and (max-height: 700px){
    .volvpill{
        margin-bottom: -100px;
    }
} */

@media only screen and (max-height: 640){
    .gradientbg{
        margin-bottom: -200px;
    }

    .volvpill{
        margin-bottom: -200px;
    }
    .section2{
        margin-top: -200px;
    }

}
@media only screen and (max-height: 840px){
    
    

    
}

@media only screen and (max-width: 1600px){
    .header{
        margin-top: 30px;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
    .volvpill{
        display: grid;
        background-image: url("Assets/Pillz.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 80%;
        position: absolute;
        width: 100%;
        height: 500px;
    }
}

@media only screen and (max-width: 1380px){
    .content{
        padding: 50px;
    }
    .header{
        padding: 50px;
        margin-top: 0px;
   }
   h1{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 500;
    padding-top: 30px;
}
   .volvpill{
        display: grid;
        background-image: url("Assets/Pillz.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 100%;
        position: absolute;
        width: 100%;
        height: 480px;
    }
    .section2{
        padding: 50px;
    }
    .section2content{
        margin-left: 50px;
    }
    .sign_up_2{
        margin-left: 50px;
    }
    .section2 > div{
        padding-top: 0px; 
    }
}

    @media only screen and (max-width: 1180px){
        .content{
            padding: 30px;
        }
        .header{
            padding: 30px;
        }
        .volvpill{
            display: grid;
            background-image: url("Assets/Pillz.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 100%;
            position: absolute;
            width: 100%;
            height: 400px;
        }
        h2{
            font-family: 'Lato', sans-serif;
            font-size: 42px;
            font-weight: 500;
        }
    }

    @media only screen and (max-width: 1040px){
        h1{
            font-family: 'Lato', sans-serif;
            font-size: 42px;
            font-weight: 500;
            padding-top: 50px;
        }
        h2{
            font-family: 'Lato', sans-serif;
            font-size: 36px;
            font-weight: 500;
        }
        .inputemail {
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            width: auto;
            padding: 20px;
            border: none;
            border-radius: 30px;
            height: 60px;
            outline: none;
            filter: drop-shadow(0px 6px 10px rgba(215, 226, 243, 0.4));
            transition: 300ms;
            
        }
        .bene_form{
            display: grid;
            grid-template-columns: 1fr;
            margin-top: 10px;
            width: 100%;
        }
        
        .title{
            display: grid;
            grid-template-columns: 1fr;
            height: 100vh;
            align-content: flex-start;
        }
        
    }

    @media only screen and (max-width: 930px){
        .volvpill{
            display: grid;
            background-image: url("Assets/Pillz.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 100%;
            position: absolute;
            width: 100%;
            height: 300px;
        }
        .gif > img {
            height: 502px;
            margin-left: -3px;
        }
        .gifframe > img {
            height: 520px;
            margin-top: 181px;
        }
        .sign_up_2{
            margin-top: -320px;
        }
    }

    @media only screen and (max-width: 760px){
        .inputemail {
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            width: 100%;
            padding: 20px;
            border: none;
            border-radius: 30px;
            height: 60px;
            outline: none;
            filter: drop-shadow(0px 6px 10px rgba(215, 226, 243, 0.4));
            transition: 300ms;
            
        }
        .submitbutton{
            margin-top: -50px;
            margin-left: 260px;
        }
        .content{
            height: 800px;
        }
        h1{
            text-align: center;
            padding-top: 20px;
        }
        h6{
            margin-top: 70px;
            text-align: center;
        }
        .bene_form{
            margin-left: auto;
            margin-right: auto;
        }
        .volvpill{
            background-position: center;
            bottom: unset;
            margin-top: 500px;
        }
        .gradientbg{
            bottom: unset;
            margin-top: 400px;
        }
        .section2{
            grid-template-columns: 1fr;
        }
        .phone{
            grid-row: 2;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
        }
        .sign_up_2{
            grid-row: 3;
            grid-column: 1;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
        }
        .section2content{
            margin-left: 0px;
        }
        .section2content > h2{
            text-align: center;
        }
        img{
            height: 37px;
        }
    }

        @media only screen and (max-width: 640px){
            img{
                height: 37px;
            }
            .content{
                padding: 20px;
                
            }
            .section2{
                padding: 30px;
                margin-top: -60px;
            }
            h1{
                padding-top: 20px;
                font-size: 32px;
            }
            h2{
                font-size: 32px;
            }
            h6{
                font-size: 16px;
            }
            .content > div > h3{
                font-family: 'Lato', sans-serif;
                font-size: 18px;
                font-weight: 300;
                padding-top: 0px;
                color: #466DB5;
            }
            .gif > img {
                height: 502px;
                margin-left: -3px;
            }
            .gifframe > img {
                height: 520px;
                margin-top: 181px;
            }
            
        }
            @media only screen and (max-width: 512px){
                
                .content > div > h3{
                    text-align: center;
                }
                h6{
                    text-align: center;
                    font-size: 16px;
                }
                img{
                    height: 37px;
                }
                .gif > img {
                    height: 502px;
                    margin-left: -3px;
                }
                .gifframe > img {
                    height: 520px;
                    margin-top: 181px;
                }
                .submitbutton{
                    margin-top: 30px;
                    margin-left: auto;
                    margin-right: auto;
                }
                
            }

            @media only screen and (max-width: 480px){
                .header{
                    padding: 12px;
                }
                img{
                    height: 27px;
                }
                h1{
                    font-size: 26px;
                }
                h2{
                    font-size: 26px;
                }
                /* .inputemail {
                    font-family: 'Lato', sans-serif;
                    font-size: 16px;
                    width: auto;
                    padding: 20px;
                    box-sizing: border-box;
                    border: none;
                    border-radius: 30px;
                    height: 60px;
                    outline: none;
                    backdrop-filter: blur(3px);
                    filter: drop-shadow(0px 6px 10px rgba(215, 226, 243, 0.4));
                    transition: 300ms;
                    
                }
                .bene_form{
                    display: grid;
                    grid-template-columns: 1fr;
                    margin-top: 10px;
                    width: 100%;
                }
                .submitbutton{
                    margin-top: -50px;
                    margin-left: auto;
                    margin-right: 12px;
                } */
                .volvpill{
                    height: 250px;
                }
                .gradientbg{
                    margin-top: 350px;
                }
            }

            @media only screen and (max-width: 360px){
            h1{
                font-size: 21px;
            }
            h2{
                font-size: 21px;
            }
            h6{
                text-align: center;
                font-size: 13px;
                margin-top: 30px;
            }
            .volvpill{
                height: 250px;
            }
            }

            @media only screen and (max-width: 300px){
                h1{
                    font-size: 16px;
                }
                h2{
                    font-size: 16px;
                }
                h6{
                    text-align: center;
                    font-size: 11px;
                    margin-top: 30px;
                }
                .gif > img {
                    height: 302px;
                    margin-left: -7px;
                }
                .gifframe > img {
                    height: 312px;
                    margin-top: 385px;
                }
                .footer{
                    height: 50px;
                    background-color: #fff;
                    margin-top: 100px;
                    color: #000;
                    font-family: 'Lato', sans-serif;
                    font-size: 8px;
                    font-weight: 400;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 50px;
                }
                .footer > div{
                    margin-left: auto;
                    margin-right: auto;
                    width: auto;
                    text-align: center;
                }
            }