body {
  margin: 0px;
  background: #ffffff;
  letter-spacing: -0.3px;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Helvetica";
  src: url("assets/HelveticaNeueLTProTh.otf");
  font-weight: bold;
  font-style: normal;
}

:root {
  --volv-orange: #f47e47;
  --volv-orange-hover: #e46f39;
  --volv-acrylic: rgba(255, 255, 255, 0.8);
}

.section1 {
  background-image: url(assets/9-second-billboard-3-small.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section1about {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url("assets/about-us-slime.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar {
  float: right;
  height: 100vh;
  width: 0px;
  background: #f9f9f9;
  z-index: 50;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  text-align: -webkit-center;
}

.navbar > a {
  width: 200px;
}

.navbar div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  width: 250px;
}

.navbar > div > a > img {
  height: 20px;
}

.navbar input {
  margin: 20px;
  width: 300px;
}

.navbar a {
  font-family: "Roboto", sans-serif;
  opacity: 0.7;
  color: #fff;
  padding: 20px;
  margin: 0px 0px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  display: block;
  transition: 0.3s;
  border-radius: 5px;
  text-decoration: none;
}

.header {
  /* -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); */
  /* background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  ); */
  height: 100px;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.header > div {
  max-width: 1600px;
  padding: 0px 15px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  /* padding-left: 20px;
  padding-right: 20px; */
}

.header-mobile {
  display: none;
  height: 100px;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.header-mobile > div {
  max-width: 1600px;
  padding: 0px 15px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  /* padding-left: 20px;
  padding-right: 20px; */
}

.ham-menu {
  display: grid;
  align-self: center;
  text-align: -webkit-right;
}

.close-menu {
  display: none;
  align-self: center;
  text-align: -webkit-right;
}

.volv-logo {
  height: 25px;
}

.download {
  text-align: right;
  align-self: center;
}

.download > a > span {
  font-family: "Roboto", sans-serif;
  /* font-family: "Frank Ruhl Libre", serif; */
  opacity: 0.7;
  color: #fff;
  /* letter-spacing: 0.2em; */
  margin-right: 15px;
  font-size: 15px;
  text-decoration: none;
  font-weight: 500;
}

.download > a:hover {
  text-decoration-color: #fff;
}

.download > a > img {
  max-height: 17px;
  vertical-align: middle;
  padding-left: 7px;
  padding-right: 17px;
  max-width: 15px;
}

.volv-button {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(106.79deg, #ff984e -67.91%, #e15b2b 100%);
  box-shadow: 0px 13px 20px rgba(234, 89, 45, 0.15);
  border: none;
  outline: none;
  padding: 15px 30px;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 300ms;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  width: fit-content;
  /* animation: volv-window-desktop-animation 1s
    cubic-bezier(0.075, 0.82, 0.165, 1) 0.15s forwards;
  opacity: 0;
  transform: translateY(400px); */
}

.volv-button:hover {
  /* background: linear-gradient(-45deg, #e15b2b 100%, #e77422); */
  box-shadow: 0 12px 25px 0 rgba(255, 89, 12, 0.3);
}

.volv-button-small {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(-45deg, #e15b2b 20%, #e77422);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 5px 10px 0 rgba(244, 126, 71, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 300ms;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
}

.volv-button-small:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 89, 12, 0.3);
}

.inputemail {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  width: 500px;
  padding: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 30px;
  height: 60px;
  outline: none;
  backdrop-filter: blur(3px);
  filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.05));
  transition: 300ms;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.sign_up_2 {
  grid-column: 2;
  grid-row: 2;
  margin-left: 200px;
  margin-top: -400px;
}
::placeholder {
  /* Firefox, Chrome, Opera */
  color: rgb(200, 200, 200);
  font-weight: 300;
}

.inputemail:hover {
  filter: drop-shadow(0px 12px 20px rgba(215, 226, 243, 0.4));
}
.inputemail:focus {
  filter: drop-shadow(0px 12px 20px rgba(244, 126, 71, 0.1));
}

.submitbutton {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(-45deg, #e15b2b 20%, #e77422);
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 10px;
  width: 190px;
  height: 40px;
  letter-spacing: 1.5px;
  text-decoration: none;
  box-shadow: 0 5px 10px 0 rgba(244, 126, 71, 0.3);
  cursor: pointer;
  margin-right: 10px;
  margin-left: auto;
  margin-top: -50px;
  z-index: 5;
  outline: none;
  transition: 300ms;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.submitbutton:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 89, 12, 0.3);
}

.submitbutton:active {
  background-color: rgb(230, 120, 69);
  box-shadow: 0 1px 2px 0 rgba(244, 126, 71, 0.2);
}

.bene_form {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10px;
  max-width: 420px;
}

.sec1content {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-content: baseline;
  height: 100vh;
  /* padding-left: 100px;
  padding-right: 100px; */
}

.bssec1content {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-content: baseline;
  /* padding-left: 100px;
  padding-right: 100px; */
}

.sec1content .volv-button {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(106.79deg, #ff984e -67.91%, #e15b2b 100%);
  border: none;
  outline: none;
  padding: 15px 30px;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 300ms;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  width: fit-content;
  animation: volv-window-desktop-animation 1s
    cubic-bezier(0.075, 0.82, 0.165, 1) 0.15s forwards;
  opacity: 0;
  transform: translateY(400px);
  /* position: absolute;
  top: 500px; */
}

.sec1content > p {
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 400;
  font-size: 62px;
  color: white;
  animation: volv-window-desktop-animation 1s
    cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  opacity: 0;
  transform: translateY(400px);
  margin-block-start: 3em;
  /* position: absolute;
  top: 150px; */
}

.sec2container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1280px;
  height: 700px;
  /* background: #f9f9f9; */
  /* margin-top: 80px; */
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 80px; */
  grid-gap: 20px;
}

.sec2container .title-text {
  font-family: "Frank Ruhl Libre", serif;
  font-style: normal;

  line-height: 136.1%;
  /* or 73px */

  letter-spacing: -0.3px;
  margin-top: 15px;
  color: #000000;
}

.title-text {
  font-family: "Frank Ruhl Libre", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 136.1%;
  /* or 73px */

  letter-spacing: -0.3px;
  color: #000000;
}

.subtitle-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 142.1%;
  /* or 51px */

  letter-spacing: -0.03em;

  color: #505050;
}

.caption-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;

  color: #e15b2b;
}

.volv-hint {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #acacac;
  font-size: 15px;
}

.sec1-3dphone {
  background-image: url(assets/3d-phone-2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.section3 {
  text-align: center;
}

.section3 > .title-text {
  font-family: "Frank Ruhl Libre", serif;
  font-style: normal;

  line-height: 0;
  /* or 73px */

  letter-spacing: -0.3px;

  color: #000000;
}

.features {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 40px;
  padding: 80px;
  text-align: center;
}

.features div {
  background: linear-gradient(
    234.85deg,
    rgba(130, 148, 203, 0.1) 16.15%,
    rgba(130, 148, 203, 0.1) 130.7%
  );
  box-shadow: 0px 15px 40px rgba(223, 228, 255, 0.1);
  padding: 40px 30px 60px 30px;
}

.features p {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 27px;
  /* background-color: #ffede3; */
  line-height: 32px;
  width: fit-content;
  font-weight: 500;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 25px;
}

.features span {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-weight: 300;
  color: #505050;
  line-height: 147.6%;
}

.sec4container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  max-width: 1100px;
  height: 700px;
  background: #f9f9f9;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px;
}

.sec4container .title-text {
  font-family: "Frank Ruhl Libre", serif;
  font-style: normal;

  line-height: 136.1%;
  /* or 73px */

  letter-spacing: -0.3px;
  margin-top: 15px;
  color: #000000;
}

.sec4-gif {
  background-image: url(assets/story-view-gif-hi-res.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section5 {
  height: 400px;
  text-align: center;
}

.bssec5 {
  display: grid;
  height: 40vh;
  text-align: center;
  align-content: center;
}

.sec5container {
  display: grid;
  margin-top: 9vh;
}

.section5 .title-text {
  font-family: "Frank Ruhl Libre", serif;
  font-style: normal;

  line-height: 0;
  /* or 73px */

  letter-spacing: -0.3px;
  margin-top: 15px;
  color: #000000;
}

.bssec5 .title-text {
  font-family: "Frank Ruhl Libre", serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  /* or 73px */

  letter-spacing: -0.3px;
  color: #000000;
}

.volv-window-desktop {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  /* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
  animation: volv-window-desktop-animation 2s cubic-bezier(0.5, 0, 0, 0.99)
    forwards;
  opacity: 0;
  transform: translateY(100px);
  margin-top: 120px;
}

.volv-window-mobile {
  display: none;
  margin-left: auto;
  margin-right: auto;
  animation: volv-window-desktop-animation 2s cubic-bezier(0.5, 0, 0, 0.99)
    forwards;
  opacity: 0;
  transform: translateY(100px);
  margin-top: 150px;
}

.bias-window-desktop {
  display: grid;
  margin-left: 10vh;
  /* margin-left: auto; */
  margin-right: auto;
  /* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
  animation: volv-window-desktop-animation 2s cubic-bezier(0.5, 0, 0, 0.99)
    forwards;
  opacity: 0;
  transform: translateY(100px);
  margin-top: 120px;
  z-index: 10;
}

.bias-window-2-desktop {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  /* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
  animation: volv-window-desktop-animation 2s cubic-bezier(0.5, 0, 0, 0.99)
    forwards;
  opacity: 0;
  transform: translateY(100px);
  z-index: 10;
}

.bias-window-2-mobile {
  display: none;
}

.bias-window-mobile {
  display: none;
}

.volv-v-back {
  mix-blend-mode: soft-light;
  opacity: 0.6;
  max-width: 1600px;
  display: grid;
  margin-left: 50vh;
  margin-right: auto;
  margin-top: -643px;
}

/* .bssec1text {
  display: grid;
  margin-left: 49vh;
  margin-right: auto;
  margin-top: -455px;
  font-family: "Frank Ruhl Libre", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 69px;
  line-height: 136.1%;
  letter-spacing: -0.03em;
  z-index: 10;
} */

.sec1-fade {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );

  z-index: 20;
  margin-top: -249px;
  height: 250px;
}

.bssec1text {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  font-family: "Frank Ruhl Libre", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 136.1%;
  /* or 94px */
  text-align: center;
  letter-spacing: -0.03em;
  z-index: 10;
}

.bias-ex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  background: url(assets/bias-ex.svg);
  background-size: contain;
  background-position: center;
  height: 800px;
  background-repeat: no-repeat;
}

.bssec3 {
  display: grid;

  /* background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 247, 247, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  ); */

  margin: 0px 0px 100px 0px;
}

.chart {
  display: grid;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background: #f9f9f9;
  width: 100%;
}

.chart-mobile {
  display: none;
}

.bssec3 img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.bssec4 {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.bssec4 img {
  width: 100%;
}

.categories > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.categories > div > img {
  display: grid;
  height: 3.5rem;
}

.downloadnow {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.downloadnow > div {
  align-self: center;
}

.android > a > img {
  height: 60;
}

/* bias page from here */

.bssec1 {
  background: linear-gradient(270deg, #fff2e8, #dbf0ff);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
  height: 782px;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes dive-in-animation {
  form {
    opacity: 0;
    transform: translateY(-5px);
  }

  50% {
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    opacity: 0;
    transform: translateY(-5px);
  }
}

@keyframes volv-window-desktop-animation {
  form {
    opacity: 0;
    transform: translateY(100px);
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.modal {
  background-color: rgba(255, 255, 255, 0.8);
  /* -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 50;
  display: none;
  align-items: center;
  /* animation: fadein 300ms; */
}

.modal-title {
  display: grid;
  text-align: -webkit-right;
}

.modalcontent {
  display: grid;
  align-self: center;
}

.modalbox {
  display: grid;
  background-color: #fff;
  height: fit-content;
  width: 100%;
  max-width: 600px;
  filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.1));
  border-radius: 5px;
  justify-self: center;
  text-align: center;
  padding: 10px 30px 50px 30px;
}

.modalbox .subtitle-text {
  font-size: 18px;
}

.close-button {
  display: grid;
  padding: 20px;
  cursor: pointer;
}

.volv-v > img {
  height: 100px;
}

.footer {
  display: grid;
  align-content: center;
  grid-gap: 1em;
  grid-area: footer;
  height: 80px;
  background-color: #f9f9f9;
  color: rgb(89, 89, 89);
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 300;
  width: 100%;
}

.footer > div {
  margin-left: auto;
  margin-right: auto;
  /* width: 250px; */
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-height: 500px) {
  .header {
    position: absolute;
  }

  .volv-window-mobile {
    margin-top: 35px;
  }

  .volv-window-desktop {
    margin-top: 35px;
  }

  .sec1content {
    height: 500px;
  }
}

@media only screen and (max-height: 550px) {
  .header {
    position: absolute;
  }

  .volv-window-mobile {
    margin-top: 35px;
  }

  .volv-window-desktop {
    margin-top: 35px;
  }
}

@media only screen and (max-height: 820px) {
  .dive-in {
    margin-top: 0px;
  }
}

@media only screen and (max-height: 750px) {
  .volv-window-desktop {
    height: 400px;
  }
}

@media only screen and (max-width: 1700px) {
  .sec1content {
    padding-left: 50px;
    padding-right: 50px;
    max-width: unset;
  }

  .header > div {
    padding-left: 50px;
    padding-right: 50px;
    max-width: unset;
  }
}

@media only screen and (max-width: 1400px) {
  .features {
    grid-gap: 30px;
  }

  .sec2container .title-text {
    margin-top: 20px;
  }

  .sec1content {
    padding: 0px 60px 0px 60px;
  }

  .sec1content > p {
    font-size: 54px;
    top: 150px;
  }

  .sec1content .volv-button {
    top: 380px;
  }

  .sec2container {
    margin: 80px;
    height: 600px;
  }

  .sec4container {
    margin: 80px;
    height: 600px;
  }

  .volv-v-back {
    margin-left: 45vh;
  }
}

@media only screen and (max-width: 1280px) {
  .sec1content > p {
    font-size: 54px;
  }

  .sec2container {
    grid-template-columns: auto 1fr;
    height: 550px;
  }

  .sec4container {
    /* grid-template-columns: auto 1fr; */
    height: 550px;
  }

  .features {
    grid-template-columns: 1fr 1fr;
    /* padding: unset; */
  }

  .volv-v-back {
    margin-left: 35vh;
  }
}

@media only screen and (max-width: 1180px) {
  .volv-v-back {
    margin-left: 30vh;
  }
}

@media only screen and (max-width: 1100px) {
  .sec2container {
    margin: 50px;
  }

  /* .sec4container {
    margin: unset;
  } */

  .section1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .section3 {
    margin: 50px 0px 50px 0px;
  }

  .features p {
    font-size: 24px;
    /* background-color: #ffede3; */
    line-height: 27px;
  }

  .features span {
    font-size: 14px;
  }

  .sec1-3dphone {
    background-position: right;
  }

  .volv-v-back {
    margin-left: 25vh;
  }
}

/* @media only screen and (max-width: 920px) {
  .sec2container {
    padding: 40px;
    height: 460px;
  }
} */

@media only screen and (max-width: 1024px) {
  .sec2container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 500px;
    height: fit-content;
    text-align: center;
    /* grid-gap: 60px; */
    margin: 80px;
  }

  .sec1-3dphone {
    background-position: center;
  }

  .subtitle-text {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .features p {
    font-size: 32px;
    /* background-color: #ffede3; */
    line-height: 36px;
  }

  .features span {
    font-size: 20px;
  }

  .sec4container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 500px;
    height: fit-content;
    text-align: center;
    grid-gap: 60px;
    margin: 80px;
  }

  .volv-window-desktop {
    width: 100%;
  }

  .bias-window-desktop {
    margin-left: auto;
  }

  .volv-v-back {
    margin-left: auto;
  }

  .bssec1text {
    font-size: 54px;
  }

  .bias-ex {
    background: url(assets/bias-ex-mobile.svg);
    background-size: contain;
    background-position: center;
    box-sizing: border-box;
    display: block;
    background-repeat: no-repeat;
  }
  .inputemail {
    width: auto;
    padding: 20px;
  }

  .bene_form {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 520px;
  }
}

@media only screen and (max-width: 800px) {
  .sec1content > p {
    font-size: 54px;
    margin-block-start: 2em;
    margin-block-end: 0.7em;
  }

  .sec1content .volv-button {
    top: 380px;
  }

  .sec2container {
    grid-gap: unset;
  }

  .sec4container {
    grid-gap: unset;
  }

  .features {
    grid-template-columns: 1fr;
    max-width: 450px;
    text-align: center;
    padding: 30px;
  }

  .bias-window-desktop {
    display: none;
  }

  .bias-window-mobile {
    display: unset;
    width: 100%;
    margin-top: 150px;
  }

  .bias-window-2-desktop {
    display: none;
  }

  .bias-window-2-mobile {
    display: unset;
    width: 100%;
  }

  .volv-v-back {
    display: none;
  }

  .bssec1text {
    margin-top: 50px;
    font-size: 54px;
  }

  .header {
    display: none;
  }

  .header-mobile {
    display: unset;
  }
}

@media only screen and (max-width: 740px) {
  .section1 {
    background-image: url(assets/9-second-billboard-3-mobile-small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .sec1content {
    text-align: -webkit-center;
  }

  .sec1content > p {
    font-size: 46px;
    position: unset;
  }

  .sec1content .volv-button {
    position: unset;
    top: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .features {
    grid-template-columns: 1fr;
    max-width: 300px;
    text-align: center;
  }

  .features p {
    margin-left: auto;
    margin-right: auto;
    font-family: "Frank Ruhl Libre", serif;
    font-size: 27px;
    /* background-color: #ffede3; */
    line-height: 32px;
    width: fit-content;
  }

  .section3 {
    margin: 30px;
  }

  .features span {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 147.6%;
  }
}

@media only screen and (max-width: 680px) {
  .header > div {
    padding-left: 20px;
    padding-right: 20px;
  }

  .title-text {
    font-size: 26px;
  }

  .subtitle-text {
    font-size: 18px;
  }

  .sec1content p {
    font-size: 36px;
    margin-top: 25vh;
  }

  .sec1content {
    padding: unset;
    align-content: flex-start;
  }

  .sec2container {
    margin: unset;

    padding: 40px 20px 20px 20px;
  }

  .sec4container {
    margin: 0px 0px 30px 0px;
  }

  .section3 > .title-text {
    line-height: unset;
  }

  .caption-text {
    font-size: 18px;
    line-height: 28px;
  }

  .volv-window-desktop {
    height: unset;
    width: 100%;
  }

  .downloadnow {
    justify-content: center;
  }

  .bssec1text {
    font-size: 42px;
  }

  .bias-ex {
    margin-top: unset;
    background: url(assets/bias-ex-mobile-2.svg);
    background-size: contain;
    background-position: center;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
  }

  .bssec5 .title-text {
    font-size: 24px;
    line-height: 34px;
  }

  .bssec1 {
    height: unset;
  }
  .chart-mobile {
    display: grid;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    background: #f9f9f9;
    width: 100%;
  }
  .chart {
    display: none;
  }
  .bssec3 {
    margin: 0px 0px 40px 0px;
  }
  .section5 {
    height: 300px;
  }
}

@media only screen and (max-width: 470px) {
  .sec1content p {
    margin-top: 15vh;
  }

  .section1 {
    height: 93vh;
  }

  .sec2container {
    grid-template-rows: auto 350px;
  }

  .features {
    padding: 20px 0px 20px 0px;
  }

  .sec4container {
    padding: 40px 30px 40px 30px;
    grid-gap: 0px;
  }

  .volv-window-desktop {
    display: none;
  }

  .volv-window-mobile {
    display: grid;
    width: 100%;
  }

  .bssec1text {
    font-size: 32px;
  }

  .bssec5 .title-text {
    font-size: 20px;
    line-height: 30px;
  }
  .submitbutton {
    margin-top: 30px;
    margin-right: auto;
    padding: 15px 30px;
    border-radius: 30px;
    height: unset;
    width: 100%;
    font-size: 16px;
  }
}

@media only screen and (max-width: 375px) {
  .sec1content p {
    margin-top: 20vh;
  }

  .download > a > img {
    padding-right: 10px;
  }

  .download > a > span {
    padding-right: 5px;
  }

  .sec1content p {
    font-size: 32px;
    margin-top: 18vh;
  }

  .sec1content .volv-button {
    font-size: 14px;
    padding: 13px 27px;
  }

  .sec2container .title-text {
    font-size: 22px;
  }

  .title-text {
    font-size: 22px;
  }
}

@media only screen and (max-width: 360px) {
  .features div {
    padding: 20px;
  }

  .features p {
    font-size: 22px;
  }

  .features span {
    font-size: 16px;
  }

  .features div {
    padding: 30px;
  }
  .bssec1text {
    font-size: 24px;
  }
  .bias-ex {
    height: 700px;
  }
}
