.csm-headline{
  max-width: 720px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25vh;
  margin-bottom: 200px;
  position: relative;
  animation: volv-window-desktop-animation 1s cubic-bezier(0.5, 0, 0, 0.99) forwards;
  img{
    width: 100%;
    
  }
  &:hover{
    >div{
      background-color: rgba(255, 255, 255, 1);
    }
    div>img{
      transform: translateX(5px);
    }
  }
}

.csm-cta{
  position: absolute;
  top: 280px;
  left: 170px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(3px);
  // outline: 1.2px solid black;
  padding: 17px;
  width: 100px;
  display: grid;
  grid-template-columns: 75px 20px;
  align-items: center;
  transition: 300ms ease-out;
  cursor: pointer;
  img{
    transform: translateX(0px);
    transition: 300ms ease-out;
    height: 10px;
  }
  &:hover{
    img{
      transform: translateX(5px);
    }
  }
}