.our-story-section1 {
  background: linear-gradient(270deg, #ffe2af, #b1c4e5);
  background-size: 200% 200%;
  -webkit-animation: GradientAnimation 10s ease infinite;
  -moz-animation: GradientAnimation 10s ease infinite;
  animation: GradientAnimation 10s ease infinite;
}
.our-story-sec1content {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-content: baseline;
}
.our-story-container {
  max-width: 600px;
  background: white;
  padding: 30px 50px 50px 50px;
  display: grid;
  justify-self: center;
  margin: 150px 20px 70px 20px;
  border-radius: 5px;
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.1);
  animation: volv-window-desktop-animation 2s cubic-bezier(0.5, 0, 0, 0.99)
    forwards;
  opacity: 0;
  transform: translateY(100px);
  p {
    font-family: "Inter", sans-serif;
    line-height: 136.1%;
    font-size: 16px;
  }
}
.our-story-content {
  h1 {
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
  }
}

@media only screen and (max-width: 470px) {
  .our-story-container {
    padding: 30px 30px 50px 30px;
  }
  .our-story-content {
    h1 {
      font-size: 32px;
      margin: 10px 0px 30px 0px;
    }
    p {
      font-size: 14px;
    }
  }
}
