@font-face {
  font-family: "Helvetica";
  src: url("assets/HelveticaNeueLTProTh.otf");
  font-weight: bold;
  font-style: normal;
}

// Inter
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

//Frank Ruhl Libre
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");
